# 추정매출 + 점포 데이터 통합

In [28]:
import pandas as pd

## 1. 데이터 불러오기

### (1) 업종별 점포 데이터

In [29]:
# 데이터 경로 설정

path = "./OSSP/data/서울시_우리마을가게_상권분석서비스(상권-점포)_"

In [30]:
# 2020년 = service_info_2020, 
# 2019년 = service_info_2019, 
# .... 
# 2015년 = service_info_2015

start_year = 2015 # 시작연도 
end_year = 2021 # 마지막 연도 + 1

for i in range(start_year, end_year):
    globals()['service_info_{}'.format(i)] = pd.read_csv(path + str(i) + '.csv', encoding = 'cp949')
    
# 2020년 데이터의 경우 1분기가 먼저 나오도록 순서 조정
service_info_2020 = service_info_2020.sort_values(by = '기준_분기_코드').reset_index(drop = True)

In [31]:
# 확인

service_info_2020.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2020,1,A,골목상권,1000001,계동길,CS100001,한식음식점,19,19,0,0,5,1,0
1,2020,1,A,골목상권,1000993,올림픽로48길,CS200044,여행사,5,5,0,0,0,0,0
2,2020,1,A,골목상권,1000993,올림픽로48길,CS200043,건축물청소,1,1,0,0,0,0,0
3,2020,1,A,골목상권,1000993,올림픽로48길,CS200042,통번역서비스,1,1,0,0,0,0,0
4,2020,1,A,골목상권,1000993,올림픽로48길,CS200041,사진관,5,5,0,0,0,0,0

### (2) 업종별 추정매출 데이터

In [32]:
# 데이터 경로 설정

path = "./OSSP/data/서울시 우리마을가게 상권분석서비스(상권-추정매출)_"

In [33]:
# 2020년 = service_sales_2020, 
# 2019년 = service_sales_2019, 
# .... 
# 2015년 = service_sales_2015

start_year = 2015 # 시작연도 
end_year = 2021 # 마지막 연도 + 1

for i in range(start_year, end_year):
    globals()['service_sales_{}'.format(i)] = pd.read_csv(path + str(i) + '.csv', encoding = 'cp949')
    
# 2020년 데이터의 경우 1분기가 먼저 나오도록 순서 조정
service_sales_2020 = service_sales_2020.sort_values(by = '기준_분기_코드').reset_index(drop = True)

In [34]:
# 확인

service_sales_2020

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2020,1,A,골목상권,1000001,계동길,CS100001,한식음식점,431442455,18548,...,345,8752,7776,611,3828,4356,3428,2614,1690,19
1,2020,1,D,발달상권,1001038,구로디지탈1단지,CS200001,일반교습학원,612000000,2538,...,45,542,1972,24,978,796,365,262,90,9
2,2020,1,D,발달상권,1001038,구로디지탈1단지,CS100010,커피-음료,4188911087,745283,...,3512,381919,301588,1456,206849,262935,137951,59748,14569,82
3,2020,1,D,발달상권,1001038,구로디지탈1단지,CS100009,호프-간이주점,776158634,36387,...,6470,23806,9743,156,10533,12180,6902,2789,990,16
4,2020,1,D,발달상권,1001038,구로디지탈1단지,CS100008,분식전문점,4347724684,346919,...,8940,179008,139288,1696,99490,112089,65631,29374,10012,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66506,2020,2,A,골목상권,1000543,중앙로32길,CS200037,노래방,29428003,215,...,82,187,28,0,39,0,85,67,24,3
66507,2020,2,A,골목상권,1000543,중앙로32길,CS200028,미용실,36357766,1105,...,20,582,459,33,124,119,280,401,83,6
66508,2020,2,A,골목상권,1000543,중앙로32길,CS200025,자동차수리,826310648,5952,...,0,3411,1186,0,158,886,1046,1568,941,11
66509,2020,2,A,골목상권,1000544,중앙로36길,CS300018,의약품,168165281,15713,...,79,8738,6975,149,1180,2362,4349,4339,3334,2
66510,2020,2,A,골목상권,1000001,계동길,CS300010,반찬가게,434129685,10094,...,0,2169,7925,0,167,1085,2419,2169,4254,3

In [35]:
# 2015 ~ 2020 추정매출, 폐업률 수직 통합

total_service_info = pd.DataFrame()
total_service_sales = pd.DataFrame()

# 점포 데이터 통합 (2015 ~ 2020)
for i in range (start_year, end_year):
    total_service_info = total_service_info.append(globals()['service_info_{}'.format(i)], ignore_index = True)

# 불필요한 column 제거
total_service_info = total_service_info.drop(['상권_구분_코드', '상권_구분_코드_명'], axis=1)

# 추정매출 데이터 통합 (2015 ~ 2020)
for i in range (start_year, end_year):
    total_service_sales = total_service_sales.append(globals()['service_sales_{}'.format(i)], ignore_index = True)

# 불필요한 column 제거
total_service_sales = total_service_sales.drop(['상권_구분_코드', '상권_구분_코드_명'], axis=1)

In [36]:
# 결과 확인
# 통합 점포 데이터

total_service_info

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2015,1,1001490,길동복조리시장,CS300011,일반의류,33,33,0,0,3,1,0
1,2015,1,1001046,서울 관악구 신림역_4,CS300001,슈퍼마켓,18,18,0,0,0,0,0
2,2015,1,1000609,개봉로11길,CS100001,한식음식점,9,9,0,0,0,0,0
3,2015,1,1000910,도산대로81길,CS100004,양식음식점,9,9,22,2,33,3,0
4,2015,1,1000862,방배로18길,CS100002,중식음식점,1,2,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969588,2020,2,1000509,곰달래로2길,CS300018,의약품,1,1,0,0,0,0,0
1969589,2020,2,1000509,곰달래로2길,CS300017,시계및귀금속,0,0,0,0,0,0,0
1969590,2020,2,1000509,곰달래로2길,CS300015,가방,0,0,0,0,0,0,0
1969591,2020,2,1000509,곰달래로2길,CS300011,일반의류,1,1,0,0,0,0,0
1969592,2020,2,1000003,돈화문로11가길,CS200042,통번역서비스,2,2,0,0,0,0,0

In [37]:
# 결측치 확인
# 통합 점포 데이터

total_service_info.isnull().sum()

기준_년_코드        0
기준_분기_코드       0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

In [38]:
# 결과 확인
# 통합 추정매출 데이터

total_service_sales

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_비율,주말_매출_비율,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2015,1,1001018,포이사거리_2,CS300021,문구,3390014653,88106,98,3,...,41,26390,18879,385,8047,13300,11808,8195,3532,19
1,2015,1,1000481,성미산로11길,CS300011,일반의류,477810637,1339,86,14,...,9,781,406,0,64,472,216,328,108,7
2,2015,1,1000440,세검정로1길,CS200008,한의원,29303647,582,85,15,...,0,258,324,0,0,189,18,197,178,1
3,2015,1,1001458,인헌시장,CS100005,제과점,312469941,38207,68,32,...,3475,13485,22883,352,6467,13345,9907,4002,2294,3
4,2015,1,1000756,사당로8길,CS200016,당구장,38474191,2583,61,39,...,854,2317,197,165,827,664,544,237,77,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862311,2020,2,1000543,중앙로32길,CS200037,노래방,29428003,215,76,24,...,82,187,28,0,39,0,85,67,24,3
862312,2020,2,1000543,중앙로32길,CS200028,미용실,36357766,1105,61,39,...,20,582,459,33,124,119,280,401,83,6
862313,2020,2,1000543,중앙로32길,CS200025,자동차수리,826310648,5952,79,21,...,0,3411,1186,0,158,886,1046,1568,941,11
862314,2020,2,1000544,중앙로36길,CS300018,의약품,168165281,15713,73,27,...,79,8738,6975,149,1180,2362,4349,4339,3334,2
862315,2020,2,1000001,계동길,CS300010,반찬가게,434129685,10094,76,24,...,0,2169,7925,0,167,1085,2419,2169,4254,3

In [39]:
# 결측치 확인
# 통합 추정매출 데이터

total_service_sales.isnull().sum()

기준_년_코드            0
기준_분기_코드           0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
                  ..
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
점포수                0
Length: 78, dtype: int64

In [40]:
# 공통되는 column 찾기

c_info = set(total_service_info.columns)
c_sales = set(total_service_sales.columns)
c_same = list(set.intersection(c_info, c_sales))

c_same

['서비스_업종_코드_명', '상권_코드', '기준_분기_코드', '기준_년_코드', '서비스_업종_코드', '상권_코드_명']

In [41]:
# 통합 점포 데이터 + 통합 추정매출 데이터 = total_df

total_df = pd.merge(total_service_info, total_service_sales, how = 'left', on = c_same)

In [42]:
# 결과 확인
# 전체 통합 데이터

total_df

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2015,1,1001490,길동복조리시장,CS300011,일반의류,33,33,0,0,...,643.0,4389.0,11072.0,97.0,1205.0,2267.0,4759.0,4584.0,2549.0,33.0
1,2015,1,1001046,서울 관악구 신림역_4,CS300001,슈퍼마켓,18,18,0,0,...,48014.0,79772.0,108601.0,1293.0,68332.0,55144.0,26564.0,23568.0,13473.0,18.0
2,2015,1,1000609,개봉로11길,CS100001,한식음식점,9,9,0,0,...,664.0,1620.0,951.0,7.0,199.0,509.0,785.0,662.0,407.0,9.0
3,2015,1,1000910,도산대로81길,CS100004,양식음식점,9,9,22,2,...,1908.0,4735.0,6426.0,81.0,3347.0,4750.0,1784.0,929.0,276.0,10.0
4,2015,1,1000862,방배로18길,CS100002,중식음식점,1,2,0,0,...,75.0,1726.0,892.0,16.0,509.0,1021.0,731.0,220.0,121.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969588,2020,2,1000509,곰달래로2길,CS300018,의약품,1,1,0,0,...,0.0,2318.0,2228.0,14.0,877.0,1294.0,837.0,796.0,728.0,1.0
1969589,2020,2,1000509,곰달래로2길,CS300017,시계및귀금속,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969590,2020,2,1000509,곰달래로2길,CS300015,가방,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969591,2020,2,1000509,곰달래로2길,CS300011,일반의류,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969592,2020,2,1000003,돈화문로11가길,CS200042,통번역서비스,2,2,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3. 결측치 확인
### (1) 각 연도, 분기 데이터에 1496개 상권이 모두 포함되어 있는지 확인

In [43]:
start_year = 2015 # 시작연도 
end_year = 2021 # 마지막 연도 + 1
start_q = 1 # 시작 분기
end_q = 5 # 마지막 분기 + 1

# 연도 분리
for i in range(start_year, end_year):
    globals()['df_{}'.format(i)] = total_df[total_df['기준_년_코드'] == i]
    
# 분기 분리
for i in range(start_year, end_year):
    for j in range(start_q, end_q):
        globals()['df_{}_{}'.format(i, j)] = globals()['df_{}'.format(i)][globals()['df_{}'.format(i)]['기준_분기_코드'] == j]
        if i == (end_year - 1) and j == (start_q + 1):
            break

In [44]:
# 연도별, 분기별 상권 개수 출력

df_list = [df_2020_1, df_2020_2, df_2019_1, df_2019_2, df_2019_3, df_2019_4, df_2018_1, df_2018_2, df_2018_3, df_2018_4, df_2017_1, 
        df_2017_2, df_2017_3, df_2017_4, df_2016_1, df_2016_2, df_2016_3, df_2016_4, df_2015_1, df_2015_2, df_2015_3, df_2015_4]

for df in df_list:
    print(len(df['상권_코드'].unique()))

1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496

## (2) column별 결측치 확인

In [45]:
# 모든 column name

total_df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명',
       '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수',
       '프랜차이즈_점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율', '주말_매출_비율',
       '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율',
       '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율', '시간대_06~11_매출_비율',
       '시간대_11~14_매출_비율', '시간대_14~17_매출_비율', '시간대_17~21_매출_비율',
       '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율', '연령대_10_매출_비율',
       '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율',
       '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액',
       '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
       '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [46]:
# 모든 84개 열에 대한 각각의 결측치 수

for column in total_df.columns:
    n_of_null = total_df[column].isnull().sum()
    print("{} : {}".format(column, n_of_null))

기준_년_코드 : 0
기준_분기_코드 : 0
상권_코드 : 0
상권_코드_명 : 0
서비스_업종_코드 : 0
서비스_업종_코드_명 : 0
점포_수 : 0
유사_업종_점포_수 : 0
개업_율 : 0
개업_점포_수 : 0
폐업_률 : 0
폐업_점포_수 : 0
프랜차이즈_점포_수 : 0
당월_매출_금액 : 1115448
당월_매출_건수 : 1115448
주중_매출_비율 : 1115448
주말_매출_비율 : 1115448
월요일_매출_비율 : 1115448
화요일_매출_비율 : 1115448
수요일_매출_비율 : 1115448
목요일_매출_비율 : 1115448
금요일_매출_비율 : 1115448
토요일_매출_비율 : 1115448
일요일_매출_비율 : 1115448
시간대_00~06_매출_비율 : 1115448
시간대_06~11_매출_비율 : 1115448
시간대_11~14_매출_비율 : 1115448
시간대_14~17_매출_비율 : 1115448
시간대_17~21_매출_비율 : 1115448
시간대_21~24_매출_비율 : 1115448
남성_매출_비율 : 1115448
여성_매출_비율 : 1115448
연령대_10_매출_비율 : 1115448
연령대_20_매출_비율 : 1115448
연령대_30_매출_비율 : 1115448
연령대_40_매출_비율 : 1115448
연령대_50_매출_비율 : 1115448
연령대_60_이상_매출_비율 : 1115448
주중_매출_금액 : 1115448
주말_매출_금액 : 1115448
월요일_매출_금액 : 1115448
화요일_매출_금액 : 1115448
수요일_매출_금액 : 1115448
목요일_매출_금액 : 1115448
금요일_매출_금액 : 1115448
토요일_매출_금액 : 1115448
일요일_매출_금액 : 1115448
시간대_00~06_매출_금액 : 1115448
시간대_06~11_매출_금액 : 1115448
시간대_11~14_매출_금액 : 1115448
시간대_14~17_매출_금액 : 1115448
시간대_17~21_매출_금액 : 1115448
시간대_21~24_매출_금액 : 1115448
남성_매출_금액 : 1115448
여성_매출_금액 : 1115448
연령대_10_매출_금액 : 1115448
연령대_20_매출_금액 : 1115448
연령대_30_매출_금액 : 1115448
연령대_40_매출_금액 : 1115448
연령대_50_매출_금액 : 1115448
연령대_60_이상_매출_금액 : 1115448
주중_매출_건수 : 1115448
주말_매출_건수 : 1115448
월요일_매출_건수 : 1115448
화요일_매출_건수 : 1115448
수요일_매출_건수 : 1115448
목요일_매출_건수 : 1115448
금요일_매출_건수 : 1115448
토요일_매출_건수 : 1115448
일요일_매출_건수 : 1115448
시간대_건수~06_매출_건수 : 1115448
시간대_건수~11_매출_건수 : 1115448
시간대_건수~14_매출_건수 : 1115448
시간대_건수~17_매출_건수 : 1115448
시간대_건수~21_매출_건수 : 1115448
시간대_건수~24_매출_건수 : 1115448
남성_매출_건수 : 1115448
여성_매출_건수 : 1115448
연령대_10_매출_건수 : 1115448
연령대_20_매출_건수 : 1115448
연령대_30_매출_건수 : 1115448
연령대_40_매출_건수 : 1115448
연령대_50_매출_건수 : 1115448
연령대_60_이상_매출_건수 : 1115448
점포수 : 1115448

In [47]:
total_df.shape

(1969593, 85)

In [49]:
# 결과 저장

# total_df.to_csv("./통합_점포_추정매출_최종.csv", encoding = 'cp949')