# 중구 - 명동 데이터 전처리 (업종별)

In [2]:
import pandas as pd
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from scipy.stats import pearsonr
#환경 설정
plt.rcdefaults()
plt.rcParams["font.family"] = 'Haansoft Dotum'
plt.rcParams['axes.unicode_minus'] = False
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## 1. 데이터 불러오기

In [4]:
# 점포 데이터 + 추정매출 데이터

# total_df = pd.read_csv('./통합_점포_추정매출.csv', encoding = 'cp949')

## 2. 데이터 전처리
### (1) '명동거리' 상권 추출

In [17]:
# 점포-추정매출 통합 데이터 중 '명동거리'에 해당하는 상권만 추출
# '명동거리' 상권의 상권 코드 = 1001203

df_m = total_df[total_df['상권_코드'] == 1001203]

In [18]:
# 결과 확인

df_m.head()

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
222,222,2015,1,1001203,명동거리,CS300017,시계및귀금속,42,42,0,...,6399.0,18228.0,40919.0,1734.0,36620.0,12246.0,4906.0,2964.0,681.0,42.0
265,265,2015,1,1001203,명동거리,CS300009,청과상,3,3,33,...,0.0,1519.0,2407.0,0.0,1265.0,1681.0,861.0,121.0,0.0,3.0
2241,2241,2015,1,1001203,명동거리,CS300023,미용재료,9,9,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,4935,2015,1,1001203,명동거리,CS200034,여관,8,9,0,...,742.0,2854.0,1735.0,0.0,2602.0,1053.0,603.0,253.0,79.0,9.0
6388,6388,2015,1,1001203,명동거리,CS300026,완구,2,2,0,...,6751.0,17036.0,27167.0,1812.0,19910.0,8944.0,7990.0,4266.0,1280.0,2.0

In [19]:
df_m

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
222,222,2015,1,1001203,명동거리,CS300017,시계및귀금속,42,42,0,...,6399.0,18228.0,40919.0,1734.0,36620.0,12246.0,4906.0,2964.0,681.0,42.0
265,265,2015,1,1001203,명동거리,CS300009,청과상,3,3,33,...,0.0,1519.0,2407.0,0.0,1265.0,1681.0,861.0,121.0,0.0,3.0
2241,2241,2015,1,1001203,명동거리,CS300023,미용재료,9,9,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,4935,2015,1,1001203,명동거리,CS200034,여관,8,9,0,...,742.0,2854.0,1735.0,0.0,2602.0,1053.0,603.0,253.0,79.0,9.0
6388,6388,2015,1,1001203,명동거리,CS300026,완구,2,2,0,...,6751.0,17036.0,27167.0,1812.0,19910.0,8944.0,7990.0,4266.0,1280.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1892745,1892745,2020,1,1001203,명동거리,CS100005,제과점,8,25,0,...,9746.0,48223.0,97030.0,882.0,47017.0,41915.0,27380.0,18281.0,9781.0,25.0
1892746,1892746,2020,1,1001203,명동거리,CS100004,양식음식점,28,42,0,...,2305.0,15949.0,20392.0,485.0,11403.0,11244.0,7032.0,4190.0,1991.0,42.0
1892747,1892747,2020,1,1001203,명동거리,CS100003,일식음식점,19,27,0,...,2406.0,30622.0,32762.0,460.0,22597.0,21558.0,11166.0,5798.0,1801.0,29.0
1892748,1892748,2020,1,1001203,명동거리,CS100002,중식음식점,26,29,0,...,1761.0,19328.0,14684.0,197.0,9706.0,9658.0,6345.0,4746.0,3364.0,29.0
1892749,1892749,2020,1,1001203,명동거리,CS100001,한식음식점,158,190,1,...,24243.0,158853.0,130792.0,1560.0,81075.0,82855.0,60239.0,39345.0,24571.0,190.0

In [20]:
# 결과 확인

df_m.shape

(1881, 86)

### (2)  '일반의류', '한식음식점' 업종 선택

In [21]:
cloth = df_m['서비스_업종_코드_명'] == '일반의류'
kfood = df_m['서비스_업종_코드_명'] == '한식음식점'

df_m_cloth = df_m[cloth].reset_index(drop = True)
df_m_kfood = df_m[kfood].reset_index(drop = True)

In [22]:
# 결과 확인
# '한식음식점'
# '한식음식점' 업종 코드 = CS100001

df_m_kfood.head()

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,42860,2015,1,1001203,명동거리,CS100001,한식음식점,175,211,3,...,60940.0,258105.0,258474.0,10710.0,172366.0,142452.0,99767.0,59920.0,31382.0,210.0
1,108700,2015,2,1001203,명동거리,CS100001,한식음식점,170,205,2,...,59855.0,257359.0,267430.0,11073.0,173027.0,148498.0,99600.0,60127.0,32474.0,206.0
2,195130,2015,3,1001203,명동거리,CS100001,한식음식점,168,202,3,...,59725.0,271558.0,283035.0,12321.0,186568.0,150954.0,106829.0,63620.0,34301.0,202.0
3,293089,2015,4,1001203,명동거리,CS100001,한식음식점,170,206,5,...,68898.0,286213.0,286531.0,14800.0,188863.0,152950.0,111902.0,68185.0,36048.0,206.0
4,391081,2016,1,1001203,명동거리,CS100001,한식음식점,176,215,8,...,74110.0,301029.0,306635.0,13813.0,204240.0,160687.0,117693.0,71955.0,39296.0,210.0

In [ ]:
# 결과 확인
# '한식음식점'

df_m_cloth.shape

In [ ]:
# column별 결측치 확인
# '한식음식점'

df_m_cloth.isnull().sum()

In [ ]:
# 전체 결측치 확인
# '한식음식점'

n_of_cloth = df_m_cloth.isnull().sum()
n_of_cloth.sum()

In [27]:
# 결과 확인
# '일반의류'
# '일반의류' 업종 코드 = CS300011

df_m_cloth.head()

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2015,1,1001203,명동거리,CS300011,일반의류,731,732,1,9,...,102759.00,280187.00,592586.00,50756.00,465099.00,165532.00,107597.00,70146.00,13654.00,733.00
1,2015,2,1001203,명동거리,CS300011,일반의류,725,726,1,6,...,125656.00,322910.00,695472.00,50686.00,534136.00,206561.00,128161.00,82228.00,16612.00,728.00
2,2015,3,1001203,명동거리,CS300011,일반의류,708,709,1,7,...,134950.00,354514.00,760756.00,62647.00,589233.00,211785.00,145112.00,88327.00,18170.00,715.00
3,2015,4,1001203,명동거리,CS300011,일반의류,703,704,1,7,...,105059.00,269793.00,567248.00,55122.00,431018.00,153923.00,115259.00,67505.00,14212.00,706.00
4,2016,1,1001203,명동거리,CS300011,일반의류,688,689,1,7,...,86663.00,227863.00,523951.00,44370.00,398173.00,139536.00,93570.00,62025.00,14140.00,689.00

In [28]:
# 결과 확인
# '일반의류'

df_m_cloth.shape

(22, 85)

In [29]:
# column별 결측치 확인
# '일반의류'

df_m_cloth.isnull().sum()

기준_년_코드            0
기준_분기_코드           0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
                  ..
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
점포수                0
Length: 85, dtype: int64

In [30]:
# 전체 결측치 확인
# '일반의류'

n_of_cloth = df_m_cloth.isnull().sum()
n_of_cloth.sum()

0

### (3) 데이터 정규화

In [45]:
# 한식음식점 데이터 column

df_m_kfood.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명',
       '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수',
       '프랜차이즈_점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율', '주말_매출_비율',
       '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율',
       '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율', '시간대_06~11_매출_비율',
       '시간대_11~14_매출_비율', '시간대_14~17_매출_비율', '시간대_17~21_매출_비율',
       '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율', '연령대_10_매출_비율',
       '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율',
       '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액',
       '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
       '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [46]:
# 불필요한 column 제거

useless = ['상권_코드', '상권_코드_명', '서비스_업종_코드_명', '점포수']

df_m_kfood = df_m_kfood.drop(useless, axis = 1)

len(df_m_kfood.columns)

81

In [47]:
# Min-Max 정규화 진행

from sklearn import preprocessing

for i in range(3,81):
    if df_m_kfood.columns[i] == '폐업_률':
        continue
    else:
        x = df_m_kfood[df_m_kfood.columns[i]].values # Return numpy array
        min_max_scaler = preprocessing.MinMaxScaler()
        x_scaled = min_max_scaler.fit_transform(pd.DataFrame(x))
        # 적용
        df_m_kfood[df_m_kfood.columns[i]] = pd.DataFrame(x_scaled)ㅡ

In [48]:
# 일반의류 데이터 column

df_m_cloth.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명',
       '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수',
       '프랜차이즈_점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율', '주말_매출_비율',
       '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율',
       '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율', '시간대_06~11_매출_비율',
       '시간대_11~14_매출_비율', '시간대_14~17_매출_비율', '시간대_17~21_매출_비율',
       '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율', '연령대_10_매출_비율',
       '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율',
       '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액',
       '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
       '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [49]:
# 불필요한 column 제거

useless = ['상권_코드', '상권_코드_명', '서비스_업종_코드_명', '점포수']

df_m_cloth = df_m_cloth.drop(useless, axis = 1)

len(df_m_cloth.columns)

81

In [50]:
# Min-Max 정규화 진행

for i in range(3,81):
    if df_m_cloth.columns[i] == '폐업_률':
        continue
    else:
        x = df_m_cloth[df_m_cloth.columns[i]].values # Return numpy array
        min_max_scaler = preprocessing.MinMaxScaler()
        x_scaled = min_max_scaler.fit_transform(pd.DataFrame(x))
        # 적용
        df_m_cloth[df_m_cloth.columns[i]] = pd.DataFrame(x_scaled)

In [51]:
# 결과 확인
# 한식음식점

df_m_kfood

,기준_년_코드,기준_분기_코드,서비스_업종_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,2015,1,CS100001,0.94,0.85,0.29,0.25,3,0.46,0.67,...,0.82,0.76,0.66,0.67,0.68,0.76,0.78,0.68,0.45,0.21
1,2015,2,CS100001,0.67,0.62,0.14,0.19,5,0.85,0.56,...,0.77,0.74,0.65,0.71,0.71,0.77,0.85,0.68,0.46,0.23
2,2015,3,CS100001,0.56,0.50,0.29,0.19,4,0.62,0.44,...,0.85,0.74,0.73,0.79,0.80,0.87,0.88,0.80,0.53,0.27
3,2015,4,CS100001,0.67,0.65,0.57,0.50,3,0.46,0.67,...,0.91,0.90,0.82,0.81,0.99,0.89,0.91,0.88,0.62,0.31
4,2016,1,CS100001,1.00,1.00,1.00,1.00,4,0.69,1.00,...,1.00,1.00,0.91,0.90,0.92,1.00,1.00,0.98,0.70,0.38
5,2016,2,CS100001,0.94,0.88,0.43,0.38,5,0.85,0.78,...,0.89,0.92,0.80,0.88,0.92,0.89,0.93,0.93,0.66,0.43
6,2016,3,CS100001,0.72,0.58,0.29,0.19,6,1.00,0.33,...,0.84,0.80,0.75,0.81,0.84,0.85,0.82,0.85,0.63,0.40
7,2016,4,CS100001,0.89,0.73,0.43,0.38,2,0.31,0.44,...,0.94,0.99,0.90,0.88,1.00,0.94,0.95,0.97,0.71,0.48
8,2017,1,CS100001,0.83,0.69,0.14,0.12,2,0.38,0.44,...,0.79,0.79,0.77,0.73,0.76,0.78,0.82,0.82,0.59,0.46
9,2017,2,CS100001,0.67,0.62,0.29,0.25,4,0.62,0.56,...,0.78,0.74,0.75,0.77,0.74,0.79,0.85,0.79,0.60,0.50
10,2017,3,CS100001,0.78,0.69,0.43,0.44,3,0.54,0.56,...,0.79,0.72,0.76,0.78,0.74,0.81,0.81,0.83,0.63,0.49
11,2017,4,CS100001,0.78,0.69,0.43,0.38,4,0.62,0.56,...,0.78,0.75,0.73,0.70,0.84,0.76,0.68,0.75,0.63,0.49
12,2018,1,CS100001,0.61,0.62,0.14,0.06,2,0.38,0.67,...,0.63,0.62,0.58,0.59,0.58,0.63,0.55,0.52,0.55,0.51
13,2018,2,CS100001,0.50,0.38,0.29,0.19,6,0.85,0.22,...,0.60,0.65,0.59,0.63,0.48,0.61,0.60,0.61,0.58,0.58
14,2018,3,CS100001,0.50,0.38,0.14,0.12,2,0.31,0.22,...,0.64,0.56,0.61,0.62,0.45,0.64,0.62,0.60,0.55,0.56
15,2018,4,CS100001,0.44,0.38,0.14,0.12,2,0.31,0.33,...,0.99,0.73,1.00,1.00,0.92,0.95,1.00,0.97,1.00,1.00
16,2019,1,CS100001,0.33,0.31,0.29,0.19,4,0.54,0.33,...,0.74,0.47,0.82,0.84,0.33,0.63,0.90,0.96,0.90,0.98
17,2019,2,CS100001,0.22,0.23,0.29,0.19,4,0.54,0.33,...,0.70,0.43,0.80,0.86,0.38,0.61,0.94,1.00,0.86,0.96
18,2019,3,CS100001,0.11,0.19,0.14,0.12,3,0.38,0.44,...,0.70,0.40,0.78,0.81,0.35,0.61,0.86,0.96,0.84,0.90
19,2019,4,CS100001,0.00,0.00,0.29,0.25,4,0.54,0.11,...,0.72,0.53,0.82,0.83,0.53,0.70,0.90,0.96,0.79,0.82
20,2020,2,CS100001,0.06,0.00,0.43,0.38,6,0.85,0.00,...,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00
21,2020,1,CS100001,0.00,0.04,0.00,0.00,0,0.00,0.22,...,0.07,0.09,0.07,0.05,0.00,0.09,0.06,0.02,0.04,0.06

In [52]:
# 결과 확인
# 일반의류

df_m_cloth

,기준_년_코드,기준_분기_코드,서비스_업종_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,2015,1,CS300011,1.00,1.00,0.50,0.90,4,0.82,1.00,...,0.78,0.74,0.75,0.73,0.80,0.75,0.73,0.67,0.73,0.39
1,2015,2,CS300011,0.96,0.96,0.50,0.60,2,0.33,1.00,...,0.90,0.92,0.89,0.90,0.80,0.89,0.97,0.85,0.91,0.57
2,2015,3,CS300011,0.86,0.86,0.50,0.70,3,0.70,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.67
3,2015,4,CS300011,0.84,0.84,0.50,0.70,2,0.33,1.00,...,0.70,0.76,0.71,0.69,0.87,0.69,0.66,0.74,0.69,0.42
4,2016,1,CS300011,0.75,0.75,0.50,0.70,3,0.64,1.00,...,0.64,0.60,0.57,0.63,0.69,0.62,0.57,0.55,0.61,0.42
5,2016,2,CS300011,0.74,0.74,0.50,0.80,1,0.24,1.00,...,0.64,0.71,0.59,0.68,0.66,0.66,0.62,0.62,0.69,0.53
6,2016,3,CS300011,0.65,0.65,1.00,1.00,4,0.76,1.00,...,0.62,0.70,0.54,0.64,0.70,0.64,0.54,0.54,0.58,0.44
7,2016,4,CS300011,0.64,0.64,1.00,1.00,2,0.33,1.00,...,0.46,0.53,0.43,0.49,0.56,0.47,0.41,0.47,0.48,0.38
8,2017,1,CS300011,0.49,0.48,0.50,0.80,5,1.00,0.00,...,0.41,0.41,0.41,0.42,0.42,0.42,0.39,0.38,0.46,0.49
9,2017,2,CS300011,0.44,0.44,0.50,0.90,3,0.48,0.00,...,0.56,0.59,0.57,0.62,0.48,0.57,0.62,0.65,0.74,0.86
10,2017,3,CS300011,0.39,0.38,0.50,0.40,2,0.36,0.00,...,0.50,0.54,0.46,0.52,0.48,0.48,0.46,0.52,0.62,0.71
11,2017,4,CS300011,0.35,0.35,0.50,0.50,2,0.30,0.00,...,0.40,0.44,0.36,0.40,0.40,0.38,0.32,0.41,0.47,0.57
12,2018,1,CS300011,0.28,0.28,0.50,0.60,3,0.52,0.00,...,0.31,0.31,0.26,0.30,0.30,0.31,0.22,0.23,0.33,0.42
13,2018,2,CS300011,0.29,0.29,0.50,0.80,1,0.15,0.00,...,0.48,0.49,0.38,0.54,0.33,0.46,0.47,0.51,0.65,1.00
14,2018,3,CS300011,0.25,0.24,0.50,0.70,3,0.42,0.00,...,0.44,0.46,0.34,0.46,0.32,0.43,0.38,0.41,0.52,0.75
15,2018,4,CS300011,0.21,0.20,0.50,0.40,2,0.30,0.00,...,0.37,0.37,0.33,0.38,0.26,0.35,0.35,0.33,0.45,0.86
16,2019,1,CS300011,0.14,0.14,0.00,0.10,2,0.33,0.00,...,0.19,0.20,0.19,0.20,0.15,0.18,0.15,0.23,0.33,0.36
17,2019,2,CS300011,0.07,0.06,0.00,0.00,2,0.33,0.00,...,0.26,0.28,0.28,0.31,0.17,0.24,0.32,0.41,0.50,0.78
18,2019,3,CS300011,0.09,0.09,0.00,0.20,2,0.24,0.00,...,0.25,0.31,0.25,0.30,0.22,0.24,0.28,0.34,0.43,0.57
19,2019,4,CS300011,0.00,0.00,0.50,0.40,1,0.21,1.00,...,0.24,0.28,0.24,0.29,0.24,0.23,0.27,0.37,0.41,0.45
20,2020,2,CS300011,0.08,0.08,0.00,0.10,0,0.00,1.00,...,0.14,0.00,0.19,0.13,0.00,0.06,0.23,0.24,0.34,0.99
21,2020,1,CS300011,0.06,0.06,0.00,0.20,2,0.24,1.00,...,0.00,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [53]:
# 데이터 저장

# df_m_cloth.to_csv("./myungdong_cloth_after.csv", encoding = 'cp949')
# df_m_kfood.to_csv("./myungdong_kfood_after.csv", encoding = 'cp949')