In [1]:
import numpy as np
import pandas as pd

human_pop = pd.read_csv(r'상권_상주인구.csv')

In [2]:
human_pop = pd.DataFrame(human_pop)

In [3]:
human_population =  human_pop.drop(['Unnamed: 0'], axis=1)

In [17]:
human_population

       기준_년_코드  기준_분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드  총 상주인구 수
0         2020         2        U       관광특구  1001496        24
1         2020         2        U       관광특구  1001495      8221
2         2020         2        U       관광특구  1001494      1924
3         2020         2        U       관광특구  1001493      2427
4         2020         2        U       관광특구  1001492      1104
...        ...       ...      ...        ...      ...       ...
32467     2015         1        A       골목상권  1000006        20
32468     2015         1        A       골목상권  1000005       669
32469     2015         1        A       골목상권  1000004       702
32470     2015         1        A       골목상권  1000003       734
32471     2015         1        A       골목상권  1000002       540

[32472 rows x 6 columns]

In [9]:
apt = pd.read_csv(r'상권_아파트.csv')

In [10]:
apart = apt.drop(['Unnamed: 0'], axis=1)

In [11]:
apart

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
0,2020,2,U,관광특구,1001495,잠실 관광특구,22,89,527347107
1,2020,1,U,관광특구,1001495,잠실 관광특구,22,89,527347107
2,2020,2,U,관광특구,1001494,종로?청계 관광특구,5,39,112097903
3,2020,1,U,관광특구,1001494,종로?청계 관광특구,5,39,112097903
4,2020,2,U,관광특구,1001493,동대문패션타운 관광특구,8,53,237967427
...,...,...,...,...,...,...,...,...,...
29309,2015,1,A,골목상권,1000002,난계로27길,5,18,84110417
29310,2015,4,A,골목상권,1000001,계동길,27,69,186139469
29311,2015,3,A,골목상권,1000001,계동길,27,69,186139469
29312,2015,2,A,골목상권,1000001,계동길,27,69,186139469
29313,2015,1,A,골목상권,1000001,계동길,27,69,178270767

In [23]:
market_info = pd.merge(human_population,apart,how='outer',on=['상권_코드','기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명'])
market_info

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,상권_코드_명,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
0,2020,2,U,관광특구,1001496,24.0,NaN,NaN,NaN,NaN
1,2020,2,U,관광특구,1001495,8221.0,잠실 관광특구,22.0,89.0,5.273471e+08
2,2020,2,U,관광특구,1001494,1924.0,종로?청계 관광특구,5.0,39.0,1.120979e+08
3,2020,2,U,관광특구,1001493,2427.0,동대문패션타운 관광특구,8.0,53.0,2.379674e+08
4,2020,2,U,관광특구,1001492,1104.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32489,2016,1,D,발달상권,1001170,NaN,공덕역,1.0,196.0,1.094596e+09
32490,2016,3,D,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32491,2016,2,D,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32492,2016,1,D,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32493,2015,1,A,골목상권,1000001,NaN,계동길,27.0,69.0,1.782708e+08

In [24]:
market_info.isnull().sum(1)

0        4
1        0
2        0
3        0
4        4
        ..
32489    1
32490    1
32491    1
32492    1
32493    1
Length: 32494, dtype: int64

In [29]:
# market_info.to_csv(r'merged_상주인구_아파트.csv', sep=',', na_rep='NaN', encoding='cp949')