# 중구_명동_전처리 (상권별)

In [2]:
import pandas as pd
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from scipy.stats import pearsonr
#환경 설정
plt.rcdefaults()
plt.rcParams["font.family"] = 'Haansoft Dotum'
plt.rcParams['axes.unicode_minus'] = False
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## 1. 데이터 불러오기

In [5]:
# df_fluid = pd.read_csv('./OSSP/data/서울시 우리마을가게 상권분석서비스(상권-추정유동인구).csv', encoding = 'cp949')
# df_facil = pd.read_csv('./OSSP/data/서울시 우리마을가게 상권분석서비스(상권-집객시설).csv', encoding = 'cp949')
# df_work = pd.read_csv('./OSSP/data/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding = 'cp949')
# df_live = pd.read_csv('./OSSP/data/서울시 우리마을가게 상권분석서비스(상권_상주인구).csv', encoding = 'cp949')

## 2. '명동거리' 데이터 추출
### (1) 유동인구

In [6]:
df_fluid.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,...,여성연령대_60_이상_토요일시간대_3_유동인구_수,여성연령대_60_이상_토요일시간대_4_유동인구_수,여성연령대_60_이상_토요일시간대_5_유동인구_수,여성연령대_60_이상_토요일시간대_6_유동인구_수,여성연령대_60_이상_일요일시간대_1_유동인구_수,여성연령대_60_이상_일요일시간대_2_유동인구_수,여성연령대_60_이상_일요일시간대_3_유동인구_수,여성연령대_60_이상_일요일시간대_4_유동인구_수,여성연령대_60_이상_일요일시간대_5_유동인구_수,여성연령대_60_이상_일요일시간대_6_유동인구_수
0,2020,2,U,관광특구,1001496,강남 마이스 관광특구,90544,46022,44522,4560,...,137,141,130,40,44,89,116,121,105,34
1,2020,2,U,관광특구,1001495,잠실 관광특구,3026454,1479790,1546665,255317,...,5786,6029,7767,4396,7750,6872,5364,5707,7203,4277
2,2020,2,U,관광특구,1001494,종로?청계 관광특구,4033679,2201483,1832196,115098,...,11440,10813,8862,3954,5607,6330,6703,6753,6634,4271
3,2020,2,U,관광특구,1001493,동대문패션타운 관광특구,3262023,1588974,1673049,106459,...,6157,5683,5020,2948,5469,5521,4595,4602,5701,5012
4,2020,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3764785,1953028,1811756,72060,...,11146,10284,4876,1250,1664,3381,4498,4510,3148,1109

In [7]:
# 모든 column 확인

list(df_fluid.columns)

['기준_년_코드',
 '기준_분기_코드',
 ' 상권_구분_코드',
 ' 상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_유동인구_수',
 '남성_유동인구_수',
 '여성_유동인구_수',
 '연령대_10_유동인구_수',
 '연령대_20_유동인구_수',
 '연령대_30_유동인구_수',
 '연령대_40_유동인구_수',
 '연령대_50_유동인구_수',
 '연령대_60_이상_유동인구_수',
 '시간대_1_유동인구_수',
 '시간대_2_유동인구_수',
 '시간대_3_유동인구_수',
 '시간대_4_유동인구_수',
 '시간대_5_유동인구_수',
 '시간대_6_유동인구_수',
 '월요일_유동인구_수',
 '화요일_유동인구_수',
 '수요일_유동인구_수',
 '목요일_유동인구_수',
 '금요일_유동인구_수',
 '토요일_유동인구_수',
 '일요일_유동인구_수',
 '남성연령대_10_월요일시간대_1_유동인구_수',
 '남성연령대_10_월요일시간대_2_유동인구_수',
 '남성연령대_10_월요일시간대_3_유동인구_수',
 '남성연령대_10_월요일시간대_4_유동인구_수',
 '남성연령대_10_월요일시간대_5_유동인구_수',
 '남성연령대_10_월요일시간대_6_유동인구_수',
 '남성연령대_10_화요일시간대_1_유동인구_수',
 '남성연령대_10_화요일시간대_2_유동인구_수',
 '남성연령대_10_화요일시간대_3_유동인구_수',
 '남성연령대_10_화요일시간대_4_유동인구_수',
 '남성연령대_10_화요일시간대_5_유동인구_수',
 '남성연령대_10_화요일시간대_6_유동인구_수',
 '남성연령대_10_수요일시간대_1_유동인구_수',
 '남성연령대_10_수요일시간대_2_유동인구_수',
 '남성연령대_10_수요일시간대_3_유동인구_수',
 '남성연령대_10_수요일시간대_4_유동인구_수',
 '남성연령대_10_수요일시간대_5_유동인구_수',
 '남성연령대_10_수요일시간대_6_유동인구_수',
 '남성연령대_10_목요일시간대_1_유동인구_수',
 '남성연령대_10_목요일시간대_2_유동인구_수',
 '남성연령대_10_목요일시간대_3_유동인구_수',
 '남성연령대_10_목요일시간대_4_유동인구_수',
 '남성연령대_10_목요일시간대_5_유동인구_수',
 '남성연령대_10_목요일시간대_6_유동인구_수',
 '남성연령대_10_금요일시간대_1_유동인구_수',
 '남성연령대_10_금요일시간대_2_유동인구_수',
 '남성연령대_10_금요일시간대_3_유동인구_수',
 '남성연령대_10_금요일시간대_4_유동인구_수',
 '남성연령대_10_금요일시간대_5_유동인구_수',
 '남성연령대_10_금요일시간대_6_유동인구_수',
 '남성연령대_10_토요일시간대_1_유동인구_수',
 '남성연령대_10_토요일시간대_2_유동인구_수',
 '남성연령대_10_토요일시간대_3_유동인구_수',
 '남성연령대_10_토요일시간대_4_유동인구_수',
 '남성연령대_10_토요일시간대_5_유동인구_수',
 '남성연령대_10_토요일시간대_6_유동인구_수',
 '남성연령대_10_일요일시간대_1_유동인구_수',
 '남성연령대_10_일요일시간대_2_유동인구_수',
 '남성연령대_10_일요일시간대_3_유동인구_수',
 '남성연령대_10_일요일시간대_4_유동인구_수',
 '남성연령대_10_일요일시간대_5_유동인구_수',
 '남성연령대_10_일요일시간대_6_유동인구_수',
 '남성연령대_20_월요일시간대_1_유동인구_수',
 '남성연령대_20_월요일시간대_2_유동인구_수',
 '남성연령대_20_월요일시간대_3_유동인구_수',
 '남성연령대_20_월요일시간대_4_유동인구_수',
 '남성연령대_20_월요일시간대_5_유동인구_수',
 '남성연령대_20_월요일시간대_6_유동인구_수',
 '남성연령대_20_화요일시간대_1_유동인구_수',
 '남성연령대_20_화요일시간대_2_유동인구_수',
 '남성연령대_20_화요일시간대_3_유동인구_수',
 '남성연령대_20_화요일시간대_4_유동인구_수',
 '남성연령대_20_화요일시간대_5_유동인구_수',
 '남성연령대_20_화요일시간대_6_유동인구_수',
 '남성연령대_20_수요일시간대_1_유동인구_수',
 '남성연령대_20_수요일시간대_2_유동인구_수',
 '남성연령대_20_수요일시간대_3_유동인구_수',
 '남성연령대_20_수요일시간대_4_유동인구_수',
 '남성연령대_20_수요일시간대_5_유동인구_수',
 '남성연령대_20_수요일시간대_6_유동인구_수',
 '남성연령대_20_목요일시간대_1_유동인구_수',
 '남성연령대_20_목요일시간대_2_유동인구_수',
 '남성연령대_20_목요일시간대_3_유동인구_수',
 '남성연령대_20_목요일시간대_4_유동인구_수',
 '남성연령대_20_목요일시간대_5_유동인구_수',
 '남성연령대_20_목요일시간대_6_유동인구_수',
 '남성연령대_20_금요일시간대_1_유동인구_수',
 '남성연령대_20_금요일시간대_2_유동인구_수',
 '남성연령대_20_금요일시간대_3_유동인구_수',
 '남성연령대_20_금요일시간대_4_유동인구_수',
 '남성연령대_20_금요일시간대_5_유동인구_수',
 '남성연령대_20_금요일시간대_6_유동인구_수',
 '남성연령대_20_토요일시간대_1_유동인구_수',
 '남성연령대_20_토요일시간대_2_유동인구_수',
 '남성연령대_20_토요일시간대_3_유동인구_수',
 '남성연령대_20_토요일시간대_4_유동인구_수',
 '남성연령대_20_토요일시간대_5_유동인구_수',
 '남성연령대_20_토요일시간대_6_유동인구_수',
 '남성연령대_20_일요일시간대_1_유동인구_수',
 '남성연령대_20_일요일시간대_2_유동인구_수',
 '남성연령대_20_일요일시간대_3_유동인구_수',
 '남성연령대_20_일요일시간대_4_유동인구_수',
 '남성연령대_20_일요일시간대_5_유동인구_수',
 '남성연령대_20_일요일시간대_6_유동인구_수',
 '남성연령대_30_월요일시간대_1_유동인구_수',
 '남성연령대_30_월요일시간대_2_유동인구_수',
 '남성연령대_30_월요일시간대_3_유동인구_수',
 '남성연령대_30_월요일시간대_4_유동인구_수',
 '남성연령대_30_월요일시간대_5_유동인구_수',
 '남성연령대_30_월요일시간대_6_유동인구_수',
 '남성연령대_30_화요일시간대_1_유동인구_수',
 '남성연령대_30_화요일시간대_2_유동인구_수',
 '남성연령대_30_화요일시간대_3_유동인구_수',
 '남성연령대_30_화요일시간대_4_유동인구_수',
 '남성연령대_30_화요일시간대_5_유동인구_수',
 '남성연령대_30_화요일시간대_6_유동인구_수',
 '남성연령대_30_수요일시간대_1_유동인구_수',
 '남성연령대_30_수요일시간대_2_유동인구_수',
 '남성연령대_30_수요일시간대_3_유동인구_수',
 '남성연령대_30_수요일시간대_4_유동인구_수',
 '남성연령대_30_수요일시간대_5_유동인구_수',
 '남성연령대_30_수요일시간대_6_유동인구_수',
 '남성연령대_30_목요일시간대_1_유동인구_수',
 '남성연령대_30_목요일시간대_2_유동인구_수',
 '남성연령대_30_목요일시간대_3_유동인구_수',
 '남성연령대_30_목요일시간대_4_유동인구_수',
 '남성연령대_30_목요일시간대_5_유동인구_수',
 '남성연령대_30_목요일시간대_6_유동인구_수',
 '남성연령대_30_금요일시간대_1_유동인구_수',
 '남성연령대_30_금요일시간대_2_유동인구_수',
 '남성연령대_30_금요일시간대_3_유동인구_수',
 '남성연령대_30_금요일시간대_4_유동인구_수',
 '남성연령대_30_금요일시간대_5_유동인구_수',
 '남성연령대_30_금요일시간대_6_유동인구_수',
 '남성연령대_30_토요일시간대_1_유동인구_수',
 '남성연령대_30_토요일시간대_2_유동인구_수',
 '남성연령대_30_토요일시간대_3_유동인구_수',
 '남성연령대_30_토요일시간대_4_유동인구_수',
 '남성연령대_30_토요일시간대_5_유동인구_수',
 '남성연령대_30_토요일시간대_6_유동인구_수',
 '남성연령대_30_일요일시간대_1_유동인구_수',
 '남성연령대_30_일요일시간대_2_유동인구_수',
 '남성연령대_30_일요일시간대_3_유동인구_수',
 '남성연령대_30_일요일시간대_4_유동인구_수',
 '남성연령대_30_일요일시간대_5_유동인구_수',
 '남성연령대_30_일요일시간대_6_유동인구_수',
 '남성연령대_40_월요일시간대_1_유동인구_수',
 '남성연령대_40_월요일시간대_2_유동인구_수',
 '남성연령대_40_월요일시간대_3_유동인구_수',
 '남성연령대_40_월요일시간대_4_유동인구_수',
 '남성연령대_40_월요일시간대_5_유동인구_수',
 '남성연령대_40_월요일시간대_6_유동인구_수',
 '남성연령대_40_화요일시간대_1_유동인구_수',
 '남성연령대_40_화요일시간대_2_유동인구_수',
 '남성연령대_40_화요일시간대_3_유동인구_수',
 '남성연령대_40_화요일시간대_4_유동인구_수',
 '남성연령대_40_화요일시간대_5_유동인구_수',
 '남성연령대_40_화요일시간대_6_유동인구_수',
 '남성연령대_40_수요일시간대_1_유동인구_수',
 '남성연령대_40_수요일시간대_2_유동인구_수',
 '남성연령대_40_수요일시간대_3_유동인구_수',
 '남성연령대_40_수요일시간대_4_유동인구_수',
 '남성연령대_40_수요일시간대_5_유동인구_수',
 '남성연령대_40_수요일시간대_6_유동인구_수',
 '남성연령대_40_목요일시간대_1_유동인구_수',
 '남성연령대_40_목요일시간대_2_유동인구_수',
 '남성연령대_40_목요일시간대_3_유동인구_수',
 '남성연령대_40_목요일시간대_4_유동인구_수',
 '남성연령대_40_목요일시간대_5_유동인구_수',
 '남성연령대_40_목요일시간대_6_유동인구_수',
 '남성연령대_40_금요일시간대_1_유동인구_수',
 '남성연령대_40_금요일시간대_2_유동인구_수',
 '남성연령대_40_금요일시간대_3_유동인구_수',
 '남성연령대_40_금요일시간대_4_유동인구_수',
 '남성연령대_40_금요일시간대_5_유동인구_수',
 '남성연령대_40_금요일시간대_6_유동인구_수',
 '남성연령대_40_토요일시간대_1_유동인구_수',
 '남성연령대_40_토요일시간대_2_유동인구_수',
 '남성연령대_40_토요일시간대_3_유동인구_수',
 '남성연령대_40_토요일시간대_4_유동인구_수',
 '남성연령대_40_토요일시간대_5_유동인구_수',
 '남성연령대_40_토요일시간대_6_유동인구_수',
 '남성연령대_40_일요일시간대_1_유동인구_수',
 '남성연령대_40_일요일시간대_2_유동인구_수',
 '남성연령대_40_일요일시간대_3_유동인구_수',
 '남성연령대_40_일요일시간대_4_유동인구_수',
 '남성연령대_40_일요일시간대_5_유동인구_수',
 '남성연령대_40_일요일시간대_6_유동인구_수',
 '남성연령대_50_월요일시간대_1_유동인구_수',
 '남성연령대_50_월요일시간대_2_유동인구_수',
 '남성연령대_50_월요일시간대_3_유동인구_수',
 '남성연령대_50_월요일시간대_4_유동인구_수',
 '남성연령대_50_월요일시간대_5_유동인구_수',
 '남성연령대_50_월요일시간대_6_유동인구_수',
 '남성연령대_50_화요일시간대_1_유동인구_수',
 '남성연령대_50_화요일시간대_2_유동인구_수',
 '남성연령대_50_화요일시간대_3_유동인구_수',
 '남성연령대_50_화요일시간대_4_유동인구_수',
 '남성연령대_50_화요일시간대_5_유동인구_수',
 '남성연령대_50_화요일시간대_6_유동인구_수',
 '남성연령대_50_수요일시간대_1_유동인구_수',
 '남성연령대_50_수요일시간대_2_유동인구_수',
 '남성연령대_50_수요일시간대_3_유동인구_수',
 '남성연령대_50_수요일시간대_4_유동인구_수',
 '남성연령대_50_수요일시간대_5_유동인구_수',
 '남성연령대_50_수요일시간대_6_유동인구_수',
 '남성연령대_50_목요일시간대_1_유동인구_수',
 '남성연령대_50_목요일시간대_2_유동인구_수',
 '남성연령대_50_목요일시간대_3_유동인구_수',
 '남성연령대_50_목요일시간대_4_유동인구_수',
 '남성연령대_50_목요일시간대_5_유동인구_수',
 '남성연령대_50_목요일시간대_6_유동인구_수',
 '남성연령대_50_금요일시간대_1_유동인구_수',
 '남성연령대_50_금요일시간대_2_유동인구_수',
 '남성연령대_50_금요일시간대_3_유동인구_수',
 '남성연령대_50_금요일시간대_4_유동인구_수',
 '남성연령대_50_금요일시간대_5_유동인구_수',
 '남성연령대_50_금요일시간대_6_유동인구_수',
 '남성연령대_50_토요일시간대_1_유동인구_수',
 '남성연령대_50_토요일시간대_2_유동인구_수',
 '남성연령대_50_토요일시간대_3_유동인구_수',
 '남성연령대_50_토요일시간대_4_유동인구_수',
 '남성연령대_50_토요일시간대_5_유동인구_수',
 '남성연령대_50_토요일시간대_6_유동인구_수',
 '남성연령대_50_일요일시간대_1_유동인구_수',
 '남성연령대_50_일요일시간대_2_유동인구_수',
 '남성연령대_50_일요일시간대_3_유동인구_수',
 '남성연령대_50_일요일시간대_4_유동인구_수',
 '남성연령대_50_일요일시간대_5_유동인구_수',
 '남성연령대_50_일요일시간대_6_유동인구_수',
 '남성연령대_60_이상_월요일시간대_1_유동인구_수',
 '남성연령대_60_이상_월요일시간대_2_유동인구_수',
 '남성연령대_60_이상_월요일시간대_3_유동인구_수',
 '남성연령대_60_이상_월요일시간대_4_유동인구_수',
 '남성연령대_60_이상_월요일시간대_5_유동인구_수',
 '남성연령대_60_이상_월요일시간대_6_유동인구_수',
 '남성연령대_60_이상_화요일시간대_1_유동인구_수',
 '남성연령대_60_이상_화요일시간대_2_유동인구_수',
 '남성연령대_60_이상_화요일시간대_3_유동인구_수',
 '남성연령대_60_이상_화요일시간대_4_유동인구_수',
 '남성연령대_60_이상_화요일시간대_5_유동인구_수',
 '남성연령대_60_이상_화요일시간대_6_유동인구_수',
 '남성연령대_60_이상_수요일시간대_1_유동인구_수',
 '남성연령대_60_이상_수요일시간대_2_유동인구_수',
 '남성연령대_60_이상_수요일시간대_3_유동인구_수',
 '남성연령대_60_이상_수요일시간대_4_유동인구_수',
 '남성연령대_60_이상_수요일시간대_5_유동인구_수',
 '남성연령대_60_이상_수요일시간대_6_유동인구_수',
 '남성연령대_60_이상_목요일시간대_1_유동인구_수',
 '남성연령대_60_이상_목요일시간대_2_유동인구_수',
 '남성연령대_60_이상_목요일시간대_3_유동인구_수',
 '남성연령대_60_이상_목요일시간대_4_유동인구_수',
 '남성연령대_60_이상_목요일시간대_5_유동인구_수',
 '남성연령대_60_이상_목요일시간대_6_유동인구_수',
 '남성연령대_60_이상_금요일시간대_1_유동인구_수',
 '남성연령대_60_이상_금요일시간대_2_유동인구_수',
 '남성연령대_60_이상_금요일시간대_3_유동인구_수',
 '남성연령대_60_이상_금요일시간대_4_유동인구_수',
 '남성연령대_60_이상_금요일시간대_5_유동인구_수',
 '남성연령대_60_이상_금요일시간대_6_유동인구_수',
 '남성연령대_60_이상_토요일시간대_1_유동인구_수',
 '남성연령대_60_이상_토요일시간대_2_유동인구_수',
 '남성연령대_60_이상_토요일시간대_3_유동인구_수',
 '남성연령대_60_이상_토요일시간대_4_유동인구_수',
 '남성연령대_60_이상_토요일시간대_5_유동인구_수',
 '남성연령대_60_이상_토요일시간대_6_유동인구_수',
 '남성연령대_60_이상_일요일시간대_1_유동인구_수',
 '남성연령대_60_이상_일요일시간대_2_유동인구_수',
 '남성연령대_60_이상_일요일시간대_3_유동인구_수',
 '남성연령대_60_이상_일요일시간대_4_유동인구_수',
 '남성연령대_60_이상_일요일시간대_5_유동인구_수',
 '남성연령대_60_이상_일요일시간대_6_유동인구_수',
 '여성연령대_10_월요일시간대_1_유동인구_수',
 '여성연령대_10_월요일시간대_2_유동인구_수',
 '여성연령대_10_월요일시간대_3_유동인구_수',
 '여성연령대_10_월요일시간대_4_유동인구_수',
 '여성연령대_10_월요일시간대_5_유동인구_수',
 '여성연령대_10_월요일시간대_6_유동인구_수',
 '여성연령대_10_화요일시간대_1_유동인구_수',
 '여성연령대_10_화요일시간대_2_유동인구_수',
 '여성연령대_10_화요일시간대_3_유동인구_수',
 '여성연령대_10_화요일시간대_4_유동인구_수',
 '여성연령대_10_화요일시간대_5_유동인구_수',
 '여성연령대_10_화요일시간대_6_유동인구_수',
 '여성연령대_10_수요일시간대_1_유동인구_수',
 '여성연령대_10_수요일시간대_2_유동인구_수',
 '여성연령대_10_수요일시간대_3_유동인구_수',
 '여성연령대_10_수요일시간대_4_유동인구_수',
 '여성연령대_10_수요일시간대_5_유동인구_수',
 '여성연령대_10_수요일시간대_6_유동인구_수',
 '여성연령대_10_목요일시간대_1_유동인구_수',
 '여성연령대_10_목요일시간대_2_유동인구_수',
 '여성연령대_10_목요일시간대_3_유동인구_수',
 '여성연령대_10_목요일시간대_4_유동인구_수',
 '여성연령대_10_목요일시간대_5_유동인구_수',
 '여성연령대_10_목요일시간대_6_유동인구_수',
 '여성연령대_10_금요일시간대_1_유동인구_수',
 '여성연령대_10_금요일시간대_2_유동인구_수',
 '여성연령대_10_금요일시간대_3_유동인구_수',
 '여성연령대_10_금요일시간대_4_유동인구_수',
 '여성연령대_10_금요일시간대_5_유동인구_수',
 '여성연령대_10_금요일시간대_6_유동인구_수',
 '여성연령대_10_토요일시간대_1_유동인구_수',
 '여성연령대_10_토요일시간대_2_유동인구_수',
 '여성연령대_10_토요일시간대_3_유동인구_수',
 '여성연령대_10_토요일시간대_4_유동인구_수',
 '여성연령대_10_토요일시간대_5_유동인구_수',
 '여성연령대_10_토요일시간대_6_유동인구_수',
 '여성연령대_10_일요일시간대_1_유동인구_수',
 '여성연령대_10_일요일시간대_2_유동인구_수',
 '여성연령대_10_일요일시간대_3_유동인구_수',
 '여성연령대_10_일요일시간대_4_유동인구_수',
 '여성연령대_10_일요일시간대_5_유동인구_수',
 '여성연령대_10_일요일시간대_6_유동인구_수',
 '여성연령대_20_월요일시간대_1_유동인구_수',
 '여성연령대_20_월요일시간대_2_유동인구_수',
 '여성연령대_20_월요일시간대_3_유동인구_수',
 '여성연령대_20_월요일시간대_4_유동인구_수',
 '여성연령대_20_월요일시간대_5_유동인구_수',
 '여성연령대_20_월요일시간대_6_유동인구_수',
 '여성연령대_20_화요일시간대_1_유동인구_수',
 '여성연령대_20_화요일시간대_2_유동인구_수',
 '여성연령대_20_화요일시간대_3_유동인구_수',
 '여성연령대_20_화요일시간대_4_유동인구_수',
 '여성연령대_20_화요일시간대_5_유동인구_수',
 '여성연령대_20_화요일시간대_6_유동인구_수',
 '여성연령대_20_수요일시간대_1_유동인구_수',
 '여성연령대_20_수요일시간대_2_유동인구_수',
 '여성연령대_20_수요일시간대_3_유동인구_수',
 '여성연령대_20_수요일시간대_4_유동인구_수',
 '여성연령대_20_수요일시간대_5_유동인구_수',
 '여성연령대_20_수요일시간대_6_유동인구_수',
 '여성연령대_20_목요일시간대_1_유동인구_수',
 '여성연령대_20_목요일시간대_2_유동인구_수',
 '여성연령대_20_목요일시간대_3_유동인구_수',
 '여성연령대_20_목요일시간대_4_유동인구_수',
 '여성연령대_20_목요일시간대_5_유동인구_수',
 '여성연령대_20_목요일시간대_6_유동인구_수',
 '여성연령대_20_금요일시간대_1_유동인구_수',
 '여성연령대_20_금요일시간대_2_유동인구_수',
 '여성연령대_20_금요일시간대_3_유동인구_수',
 '여성연령대_20_금요일시간대_4_유동인구_수',
 '여성연령대_20_금요일시간대_5_유동인구_수',
 '여성연령대_20_금요일시간대_6_유동인구_수',
 '여성연령대_20_토요일시간대_1_유동인구_수',
 '여성연령대_20_토요일시간대_2_유동인구_수',
 '여성연령대_20_토요일시간대_3_유동인구_수',
 '여성연령대_20_토요일시간대_4_유동인구_수',
 '여성연령대_20_토요일시간대_5_유동인구_수',
 '여성연령대_20_토요일시간대_6_유동인구_수',
 '여성연령대_20_일요일시간대_1_유동인구_수',
 '여성연령대_20_일요일시간대_2_유동인구_수',
 '여성연령대_20_일요일시간대_3_유동인구_수',
 '여성연령대_20_일요일시간대_4_유동인구_수',
 '여성연령대_20_일요일시간대_5_유동인구_수',
 '여성연령대_20_일요일시간대_6_유동인구_수',
 '여성연령대_30_월요일시간대_1_유동인구_수',
 '여성연령대_30_월요일시간대_2_유동인구_수',
 '여성연령대_30_월요일시간대_3_유동인구_수',
 '여성연령대_30_월요일시간대_4_유동인구_수',
 '여성연령대_30_월요일시간대_5_유동인구_수',
 '여성연령대_30_월요일시간대_6_유동인구_수',
 '여성연령대_30_화요일시간대_1_유동인구_수',
 '여성연령대_30_화요일시간대_2_유동인구_수',
 '여성연령대_30_화요일시간대_3_유동인구_수',
 '여성연령대_30_화요일시간대_4_유동인구_수',
 '여성연령대_30_화요일시간대_5_유동인구_수',
 '여성연령대_30_화요일시간대_6_유동인구_수',
 '여성연령대_30_수요일시간대_1_유동인구_수',
 '여성연령대_30_수요일시간대_2_유동인구_수',
 '여성연령대_30_수요일시간대_3_유동인구_수',
 '여성연령대_30_수요일시간대_4_유동인구_수',
 '여성연령대_30_수요일시간대_5_유동인구_수',
 '여성연령대_30_수요일시간대_6_유동인구_수',
 '여성연령대_30_목요일시간대_1_유동인구_수',
 '여성연령대_30_목요일시간대_2_유동인구_수',
 '여성연령대_30_목요일시간대_3_유동인구_수',
 '여성연령대_30_목요일시간대_4_유동인구_수',
 '여성연령대_30_목요일시간대_5_유동인구_수',
 '여성연령대_30_목요일시간대_6_유동인구_수',
 '여성연령대_30_금요일시간대_1_유동인구_수',
 '여성연령대_30_금요일시간대_2_유동인구_수',
 '여성연령대_30_금요일시간대_3_유동인구_수',
 '여성연령대_30_금요일시간대_4_유동인구_수',
 '여성연령대_30_금요일시간대_5_유동인구_수',
 '여성연령대_30_금요일시간대_6_유동인구_수',
 '여성연령대_30_토요일시간대_1_유동인구_수',
 '여성연령대_30_토요일시간대_2_유동인구_수',
 '여성연령대_30_토요일시간대_3_유동인구_수',
 '여성연령대_30_토요일시간대_4_유동인구_수',
 '여성연령대_30_토요일시간대_5_유동인구_수',
 '여성연령대_30_토요일시간대_6_유동인구_수',
 '여성연령대_30_일요일시간대_1_유동인구_수',
 '여성연령대_30_일요일시간대_2_유동인구_수',
 '여성연령대_30_일요일시간대_3_유동인구_수',
 '여성연령대_30_일요일시간대_4_유동인구_수',
 '여성연령대_30_일요일시간대_5_유동인구_수',
 '여성연령대_30_일요일시간대_6_유동인구_수',
 '여성연령대_40_월요일시간대_1_유동인구_수',
 '여성연령대_40_월요일시간대_2_유동인구_수',
 '여성연령대_40_월요일시간대_3_유동인구_수',
 '여성연령대_40_월요일시간대_4_유동인구_수',
 '여성연령대_40_월요일시간대_5_유동인구_수',
 '여성연령대_40_월요일시간대_6_유동인구_수',
 '여성연령대_40_화요일시간대_1_유동인구_수',
 '여성연령대_40_화요일시간대_2_유동인구_수',
 '여성연령대_40_화요일시간대_3_유동인구_수',
 '여성연령대_40_화요일시간대_4_유동인구_수',
 '여성연령대_40_화요일시간대_5_유동인구_수',
 '여성연령대_40_화요일시간대_6_유동인구_수',
 '여성연령대_40_수요일시간대_1_유동인구_수',
 '여성연령대_40_수요일시간대_2_유동인구_수',
 '여성연령대_40_수요일시간대_3_유동인구_수',
 '여성연령대_40_수요일시간대_4_유동인구_수',
 '여성연령대_40_수요일시간대_5_유동인구_수',
 '여성연령대_40_수요일시간대_6_유동인구_수',
 '여성연령대_40_목요일시간대_1_유동인구_수',
 '여성연령대_40_목요일시간대_2_유동인구_수',
 '여성연령대_40_목요일시간대_3_유동인구_수',
 '여성연령대_40_목요일시간대_4_유동인구_수',
 '여성연령대_40_목요일시간대_5_유동인구_수',
 '여성연령대_40_목요일시간대_6_유동인구_수',
 '여성연령대_40_금요일시간대_1_유동인구_수',
 '여성연령대_40_금요일시간대_2_유동인구_수',
 '여성연령대_40_금요일시간대_3_유동인구_수',
 '여성연령대_40_금요일시간대_4_유동인구_수',
 '여성연령대_40_금요일시간대_5_유동인구_수',
 '여성연령대_40_금요일시간대_6_유동인구_수',
 '여성연령대_40_토요일시간대_1_유동인구_수',
 '여성연령대_40_토요일시간대_2_유동인구_수',
 '여성연령대_40_토요일시간대_3_유동인구_수',
 '여성연령대_40_토요일시간대_4_유동인구_수',
 '여성연령대_40_토요일시간대_5_유동인구_수',
 '여성연령대_40_토요일시간대_6_유동인구_수',
 '여성연령대_40_일요일시간대_1_유동인구_수',
 '여성연령대_40_일요일시간대_2_유동인구_수',
 '여성연령대_40_일요일시간대_3_유동인구_수',
 '여성연령대_40_일요일시간대_4_유동인구_수',
 '여성연령대_40_일요일시간대_5_유동인구_수',
 '여성연령대_40_일요일시간대_6_유동인구_수',
 '여성연령대_50_월요일시간대_1_유동인구_수',
 '여성연령대_50_월요일시간대_2_유동인구_수',
 '여성연령대_50_월요일시간대_3_유동인구_수',
 '여성연령대_50_월요일시간대_4_유동인구_수',
 '여성연령대_50_월요일시간대_5_유동인구_수',
 '여성연령대_50_월요일시간대_6_유동인구_수',
 '여성연령대_50_화요일시간대_1_유동인구_수',
 '여성연령대_50_화요일시간대_2_유동인구_수',
 '여성연령대_50_화요일시간대_3_유동인구_수',
 '여성연령대_50_화요일시간대_4_유동인구_수',
 '여성연령대_50_화요일시간대_5_유동인구_수',
 '여성연령대_50_화요일시간대_6_유동인구_수',
 '여성연령대_50_수요일시간대_1_유동인구_수',
 '여성연령대_50_수요일시간대_2_유동인구_수',
 '여성연령대_50_수요일시간대_3_유동인구_수',
 '여성연령대_50_수요일시간대_4_유동인구_수',
 '여성연령대_50_수요일시간대_5_유동인구_수',
 '여성연령대_50_수요일시간대_6_유동인구_수',
 '여성연령대_50_목요일시간대_1_유동인구_수',
 '여성연령대_50_목요일시간대_2_유동인구_수',
 '여성연령대_50_목요일시간대_3_유동인구_수',
 '여성연령대_50_목요일시간대_4_유동인구_수',
 '여성연령대_50_목요일시간대_5_유동인구_수',
 '여성연령대_50_목요일시간대_6_유동인구_수',
 '여성연령대_50_금요일시간대_1_유동인구_수',
 '여성연령대_50_금요일시간대_2_유동인구_수',
 '여성연령대_50_금요일시간대_3_유동인구_수',
 '여성연령대_50_금요일시간대_4_유동인구_수',
 '여성연령대_50_금요일시간대_5_유동인구_수',
 '여성연령대_50_금요일시간대_6_유동인구_수',
 '여성연령대_50_토요일시간대_1_유동인구_수',
 '여성연령대_50_토요일시간대_2_유동인구_수',
 '여성연령대_50_토요일시간대_3_유동인구_수',
 '여성연령대_50_토요일시간대_4_유동인구_수',
 '여성연령대_50_토요일시간대_5_유동인구_수',
 '여성연령대_50_토요일시간대_6_유동인구_수',
 '여성연령대_50_일요일시간대_1_유동인구_수',
 '여성연령대_50_일요일시간대_2_유동인구_수',
 '여성연령대_50_일요일시간대_3_유동인구_수',
 '여성연령대_50_일요일시간대_4_유동인구_수',
 '여성연령대_50_일요일시간대_5_유동인구_수',
 '여성연령대_50_일요일시간대_6_유동인구_수',
 '여성연령대_60_이상_월요일시간대_1_유동인구_수',
 '여성연령대_60_이상_월요일시간대_2_유동인구_수',
 '여성연령대_60_이상_월요일시간대_3_유동인구_수',
 '여성연령대_60_이상_월요일시간대_4_유동인구_수',
 '여성연령대_60_이상_월요일시간대_5_유동인구_수',
 '여성연령대_60_이상_월요일시간대_6_유동인구_수',
 '여성연령대_60_이상_화요일시간대_1_유동인구_수',
 '여성연령대_60_이상_화요일시간대_2_유동인구_수',
 '여성연령대_60_이상_화요일시간대_3_유동인구_수',
 '여성연령대_60_이상_화요일시간대_4_유동인구_수',
 '여성연령대_60_이상_화요일시간대_5_유동인구_수',
 '여성연령대_60_이상_화요일시간대_6_유동인구_수',
 '여성연령대_60_이상_수요일시간대_1_유동인구_수',
 '여성연령대_60_이상_수요일시간대_2_유동인구_수',
 '여성연령대_60_이상_수요일시간대_3_유동인구_수',
 '여성연령대_60_이상_수요일시간대_4_유동인구_수',
 '여성연령대_60_이상_수요일시간대_5_유동인구_수',
 '여성연령대_60_이상_수요일시간대_6_유동인구_수',
 '여성연령대_60_이상_목요일시간대_1_유동인구_수',
 '여성연령대_60_이상_목요일시간대_2_유동인구_수',
 '여성연령대_60_이상_목요일시간대_3_유동인구_수',
 '여성연령대_60_이상_목요일시간대_4_유동인구_수',
 '여성연령대_60_이상_목요일시간대_5_유동인구_수',
 '여성연령대_60_이상_목요일시간대_6_유동인구_수',
 '여성연령대_60_이상_금요일시간대_1_유동인구_수',
 '여성연령대_60_이상_금요일시간대_2_유동인구_수',
 '여성연령대_60_이상_금요일시간대_3_유동인구_수',
 '여성연령대_60_이상_금요일시간대_4_유동인구_수',
 '여성연령대_60_이상_금요일시간대_5_유동인구_수',
 '여성연령대_60_이상_금요일시간대_6_유동인구_수',
 '여성연령대_60_이상_토요일시간대_1_유동인구_수',
 '여성연령대_60_이상_토요일시간대_2_유동인구_수',
 '여성연령대_60_이상_토요일시간대_3_유동인구_수',
 '여성연령대_60_이상_토요일시간대_4_유동인구_수',
 '여성연령대_60_이상_토요일시간대_5_유동인구_수',
 '여성연령대_60_이상_토요일시간대_6_유동인구_수',
 '여성연령대_60_이상_일요일시간대_1_유동인구_수',
 '여성연령대_60_이상_일요일시간대_2_유동인구_수',
 '여성연령대_60_이상_일요일시간대_3_유동인구_수',
 '여성연령대_60_이상_일요일시간대_4_유동인구_수',
 '여성연령대_60_이상_일요일시간대_5_유동인구_수',
 '여성연령대_60_이상_일요일시간대_6_유동인구_수']

In [8]:
# 필요한 column 추출

fluid_column = list(df_fluid.columns[:28])

df_fluid_new = df_fluid[fluid_column]

In [9]:
# 결과 확인

df_fluid_new.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,...,시간대_4_유동인구_수,시간대_5_유동인구_수,시간대_6_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,2020,2,U,관광특구,1001496,강남 마이스 관광특구,90544,46022,44522,4560,...,21482,19681,5161,14459,14561,14670,14736,14524,9591,8002
1,2020,2,U,관광특구,1001495,잠실 관광특구,3026454,1479790,1546665,255317,...,458566,616400,361671,428451,435962,438487,438968,447232,435540,401815
2,2020,2,U,관광특구,1001494,종로?청계 관광특구,4033679,2201483,1832196,115098,...,830418,772446,332934,643074,650125,655313,656265,652978,458170,317754
3,2020,2,U,관광특구,1001493,동대문패션타운 관광특구,3262023,1588974,1673049,106459,...,445879,510557,417637,505772,517126,513794,513920,511510,384749,315152
4,2020,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3764785,1953028,1811756,72060,...,929962,703440,178250,639275,635607,642535,648710,629312,333177,236168

In [10]:
# '명동거리'에 대해서만 추출

fluid_m = df_fluid_new[df_fluid_new['상권_코드'] == 1001203].reset_index(drop = True)

fluid_m = fluid_m.drop([22, 23, 24, 25])

In [11]:
# 결과 확인

fluid_m

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,...,시간대_4_유동인구_수,시간대_5_유동인구_수,시간대_6_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,2020,2,D,발달상권,1001203,명동거리,960635,516158,444477,24004,...,225189,186101,50959,161864,159449,161562,163926,159029,85747,69059
1,2020,1,D,발달상권,1001203,명동거리,1054116,553390,500726,35613,...,247655,216436,62685,168910,178091,172610,178226,168685,97373,90221
2,2019,4,D,발달상권,1001203,명동거리,1420302,694182,726121,84607,...,330793,322445,96809,217306,225578,218051,216342,230035,166776,146212
3,2019,3,D,발달상권,1001203,명동거리,1394078,688204,705876,79426,...,318775,307007,95907,218926,226524,226475,210733,217160,151410,142851
4,2019,2,D,발달상권,1001203,명동거리,1336616,656533,680084,77816,...,309150,295122,89274,198165,213053,213511,210952,215608,150422,134906
5,2019,1,D,발달상권,1001203,명동거리,1321767,654913,666854,71040,...,315306,296725,85717,200868,199358,208151,219107,214832,146979,132472
6,2018,4,D,발달상권,1001203,명동거리,1455601,634596,821006,54241,...,372036,442393,116847,206466,214500,211277,215794,230764,211623,165185
7,2018,3,D,발달상권,1001203,명동거리,1746320,771521,974799,59774,...,438643,514124,139792,257247,278227,240325,248712,285477,244761,191576
8,2018,2,D,발달상권,1001203,명동거리,1717937,726075,991859,59291,...,465058,525645,114844,231425,244813,247649,257123,281592,254383,200952
9,2018,1,D,발달상권,1001203,명동거리,1639588,682068,957527,68106,...,451841,517170,102275,219887,242058,245182,230517,247621,252413,201913
10,2017,4,D,발달상권,1001203,명동거리,1929993,797017,1132974,82947,...,521555,630212,137606,264428,259319,254959,283737,317256,311034,239261
11,2017,3,D,발달상권,1001203,명동거리,2206846,960434,1246411,89841,...,578546,658936,140774,291714,316945,323871,376010,345593,308319,244395
12,2017,2,D,발달상권,1001203,명동거리,1938491,864299,1074194,84596,...,497679,570378,136701,265902,278444,298824,300076,311228,270592,213423
13,2017,1,D,발달상권,1001203,명동거리,1636435,737476,898965,79915,...,423097,504498,125186,222078,237515,256850,252924,247714,234767,184593
14,2016,4,D,발달상권,1001203,명동거리,1771570,917841,853728,61111,...,457440,502789,137689,273104,293548,295449,296053,312405,190592,110417
15,2016,3,D,발달상권,1001203,명동거리,2150758,1136615,1014139,62056,...,541323,598555,164323,353504,371484,356073,362313,379781,200839,126764
16,2016,2,D,발달상권,1001203,명동거리,1415398,736028,679370,30022,...,383786,405541,94891,218459,221986,237214,258501,250610,140064,88563
17,2016,1,D,발달상권,1001203,명동거리,1516381,802586,713794,32598,...,425493,434818,98109,236330,240530,253313,267375,267263,152769,98795
18,2015,4,D,발달상권,1001203,명동거리,2162820,1115166,1047658,70385,...,592414,639394,148218,339105,365520,355972,357539,370040,225619,149023
19,2015,3,D,발달상권,1001203,명동거리,2291703,1177333,1114373,61630,...,615640,686736,156251,358440,379111,384596,402913,401717,220296,144627
20,2015,2,D,발달상권,1001203,명동거리,3187411,1677322,1510089,69360,...,864800,921635,202849,487917,518363,545694,556336,575148,306264,197689
21,2015,1,D,발달상권,1001203,명동거리,3573720,1903290,1670431,82354,...,978452,1050030,228160,645720,676005,591931,562361,527696,324417,245589

### (2) 집객 시설

In [94]:
df_facil.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,2020,2,A,골목상권,1000054,녹사평대로46길,16,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0
1,2020,2,A,골목상권,1000055,대사관로34길,12,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2020,2,A,골목상권,1000056,두텁바위로1길,19,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,4.0
3,2020,2,A,골목상권,1000057,백범로79길,12,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,2020,2,A,골목상권,1000058,백범로90길,7,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0

In [95]:
# 모든 column 확인

list(df_facil.columns)

['기준_년_코드',
 '기준_분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '집객시설_수',
 '관공서_수',
 '은행_수',
 '종합병원_수',
 '일반_병원_수',
 '약국_수',
 '유치원_수',
 '초등학교_수',
 '중학교_수',
 '고등학교_수',
 '대학교_수',
 '백화점_수',
 '슈퍼마켓_수',
 '극장_수',
 '숙박_시설_수',
 '공항_수',
 '철도_역_수',
 '버스_터미널_수',
 '지하철_역_수',
 '버스_정거장_수']

In [96]:
# 필요한 column 추출

facil_column = list(df_facil.columns[:7])

df_facil_new = df_facil[facil_column]

In [97]:
# 결과 확인

df_facil_new.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,2020,2,A,골목상권,1000054,녹사평대로46길,16,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0
1,2020,2,A,골목상권,1000055,대사관로34길,12,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2020,2,A,골목상권,1000056,두텁바위로1길,19,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,4.0
3,2020,2,A,골목상권,1000057,백범로79길,12,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,2020,2,A,골목상권,1000058,백범로90길,7,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0

In [102]:
# '명동거리'에 대해서만 추출

facil_m = df_facil_new[df_facil_new['상권_코드'] == 1001203].reset_index(drop = True)

In [103]:
# 결과 확인

facil_m

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,2020,2,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
1,2020,1,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
2,2019,4,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
3,2019,3,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
4,2019,2,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
5,2019,1,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
6,2018,4,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
7,2018,3,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
8,2018,2,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
9,2018,1,D,발달상권,1001203,명동거리,206,5.0,12.0,NaN,...,NaN,NaN,NaN,21.0,11.0,NaN,NaN,NaN,1.0,7.0
10,2017,4,D,발달상권,1001203,명동거리,131,2.0,11.0,NaN,...,NaN,NaN,NaN,5.0,30.0,NaN,NaN,NaN,NaN,4.0
11,2017,3,D,발달상권,1001203,명동거리,131,2.0,11.0,NaN,...,NaN,NaN,NaN,5.0,30.0,NaN,NaN,NaN,NaN,4.0
12,2017,2,D,발달상권,1001203,명동거리,131,2.0,11.0,NaN,...,NaN,NaN,NaN,5.0,30.0,NaN,NaN,NaN,NaN,4.0
13,2017,1,D,발달상권,1001203,명동거리,131,2.0,11.0,NaN,...,NaN,NaN,NaN,5.0,30.0,NaN,NaN,NaN,NaN,4.0
14,2016,4,D,발달상권,1001203,명동거리,137,3.0,13.0,NaN,...,NaN,NaN,NaN,37.0,8.0,NaN,NaN,NaN,NaN,4.0
15,2016,3,D,발달상권,1001203,명동거리,137,3.0,13.0,NaN,...,NaN,NaN,NaN,37.0,8.0,NaN,NaN,NaN,NaN,4.0
16,2016,2,D,발달상권,1001203,명동거리,140,3.0,13.0,NaN,...,NaN,NaN,NaN,38.0,8.0,NaN,NaN,NaN,NaN,6.0
17,2016,1,D,발달상권,1001203,명동거리,140,3.0,13.0,NaN,...,NaN,NaN,NaN,38.0,8.0,NaN,NaN,NaN,NaN,6.0
18,2015,4,D,발달상권,1001203,명동거리,142,NaN,13.0,NaN,...,NaN,NaN,NaN,37.0,8.0,NaN,NaN,NaN,NaN,6.0
19,2015,3,D,발달상권,1001203,명동거리,142,NaN,13.0,NaN,...,NaN,NaN,NaN,37.0,8.0,NaN,NaN,NaN,NaN,6.0
20,2015,2,D,발달상권,1001203,명동거리,142,NaN,13.0,NaN,...,NaN,NaN,NaN,37.0,8.0,NaN,NaN,NaN,NaN,6.0
21,2015,1,D,발달상권,1001203,명동거리,142,NaN,13.0,NaN,...,NaN,NaN,NaN,37.0,8.0,NaN,NaN,NaN,NaN,6.0

### (3) 직장인구

In [203]:
df_work.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2020,2,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,3513,...,3361,2887,1246,225,34,2353,2824,1361,350,78
1,2020,2,관광특구,1001495,잠실 관광특구,24375,14199,10176,120,4722,...,4186,3496,2297,1685,69,2238,2379,2121,2217,1152
2,2020,2,관광특구,1001494,종로?청계 관광특구,32935,17150,15785,68,5357,...,4911,4591,4158,1190,53,3072,5054,4892,2243,471
3,2020,2,관광특구,1001493,동대문패션타운 관광특구,6054,2958,3096,36,1434,...,737,662,600,403,23,891,958,498,461,265
4,2020,2,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830,53674,51156,423,27134,...,16080,15133,10824,2640,286,18274,17927,8251,4902,1516

In [204]:
# 모든 column 확인

list(df_work.columns)

['기준_년_코드',
 '기준_분기_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_직장_인구_수',
 '남성_직장_인구_수',
 '여성_직장_인구_수',
 '연령대_10_직장_인구_수',
 '연령대_20_직장_인구_수',
 '연령대_30_직장_인구_수',
 '연령대_40_직장_인구_수',
 '연령대_50_직장_인구_수',
 '연령대_60_이상_직장_인구_수',
 '남성연령대_10_직장_인구_수',
 '남성연령대_20_직장_인구_수',
 '남성연령대_30_직장_인구_수',
 '남성연령대_40_직장_인구_수',
 '남성연령대_50_직장_인구_수',
 '남성연령대_60_이상_직장_인구_수',
 '여성연령대_10_직장_인구_수',
 '여성연령대_20_직장_인구_수',
 '여성연령대_30_직장_인구_수',
 '여성연령대_40_직장_인구_수',
 '여성연령대_50_직장_인구_수',
 '여성연령대_60_이상_직장_인구_수']

In [205]:
# '명동거리'에 대해서만 추출

work_m = df_work[df_work['상권_코드'] == 1001203].reset_index(drop = True)

work_m = work_m.drop([22, 23, 24])

In [206]:
# 결과 확인

work_m

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2020,2,발달상권,1001203,명동거리,8147,4244,3903,32,1358,...,976,1265,853,565,16,789,1148,1058,524,368
1,2020,1,발달상권,1001203,명동거리,8147,4244,3903,32,1358,...,976,1265,853,565,16,789,1148,1058,524,368
2,2019,4,발달상권,1001203,명동거리,8147,4244,3903,32,1358,...,976,1265,853,565,16,789,1148,1058,524,368
3,2019,3,발달상권,1001203,명동거리,33325,13963,19362,98,4294,...,2716,4062,4941,722,64,2806,6201,7208,2637,446
4,2019,2,발달상권,1001203,명동거리,33325,13963,19362,98,4294,...,2716,4062,4941,722,64,2806,6201,7208,2637,446
5,2019,1,발달상권,1001203,명동거리,17311,5640,11671,146,4090,...,1758,1161,731,655,86,2815,3418,3241,1645,466
6,2018,4,발달상권,1001203,명동거리,9026,4728,4298,34,1499,...,1216,1478,1070,470,19,1020,1249,921,829,260
7,2018,3,발달상권,1001203,명동거리,9026,4728,4298,34,1499,...,1216,1478,1070,470,19,1020,1249,921,829,260
8,2018,2,발달상권,1001203,명동거리,9026,4728,4298,34,1499,...,1216,1478,1070,470,19,1020,1249,921,829,260
9,2018,1,발달상권,1001203,명동거리,9708,5218,4490,75,1714,...,1357,1690,1047,489,53,1101,1339,986,774,237
10,2017,4,발달상권,1001203,명동거리,9708,5218,4490,75,1714,...,1357,1690,1047,489,53,1101,1339,986,774,237
11,2017,3,발달상권,1001203,명동거리,23768,11122,12646,57,2946,...,2972,4034,2569,543,34,1965,6050,3311,1030,256
12,2017,2,발달상권,1001203,명동거리,23768,11122,12646,57,2946,...,2972,4034,2569,543,34,1965,6050,3311,1030,256
13,2017,1,발달상권,1001203,명동거리,25479,11847,13632,124,3812,...,3212,4269,2579,512,86,2575,6485,3328,935,223
14,2016,4,발달상권,1001203,명동거리,25479,11847,13632,124,3812,...,3212,4269,2579,512,86,2575,6485,3328,935,223
15,2016,3,발달상권,1001203,명동거리,25961,12077,13884,88,3951,...,3206,4277,2744,547,65,2671,6651,3364,934,199
16,2016,2,발달상권,1001203,명동거리,25961,12077,13884,88,3951,...,3206,4277,2744,547,65,2671,6651,3364,934,199
17,2016,1,발달상권,1001203,명동거리,26062,12172,13890,136,4201,...,3238,4392,2909,409,109,3004,6744,3093,765,175
18,2015,4,발달상권,1001203,명동거리,26062,12172,13890,136,4201,...,3238,4392,2909,409,109,3004,6744,3093,765,175
19,2015,3,발달상권,1001203,명동거리,17531,8960,8571,76,2918,...,2423,3072,2106,434,57,2012,3491,1968,793,250
20,2015,2,발달상권,1001203,명동거리,17531,8960,8571,76,2918,...,2423,3072,2106,434,57,2012,3491,1968,793,250
21,2015,1,발달상권,1001203,명동거리,17364,8956,8408,90,3281,...,2357,2998,1992,492,61,2193,3385,1849,703,217

### (4) 상주인구

In [217]:
df_live.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,...,여성연령대 10 상주인구 수,여성연령대 20 상주인구 수,여성연령대 30 상주인구 수,여성연령대 40 상주인구 수,여성연령대 50 상주인구 수,여성연령대 60 이상 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,상권 코드 명
0,2020,2,U,관광특구,1001496,24,16,8,6,2,...,2,1,1,2,0,2,13,0,13,강남 마이스 관광특구
1,2020,2,U,관광특구,1001495,8221,3708,4513,822,1679,...,397,1040,1160,628,497,791,4837,0,4837,잠실 관광특구
2,2020,2,U,관광특구,1001494,1924,1274,650,49,195,...,21,60,65,64,130,310,1503,0,1503,종로?청계 관광특구
3,2020,2,U,관광특구,1001493,2427,1146,1281,169,505,...,97,312,290,179,178,225,1529,0,1529,동대문패션타운 관광특구
4,2020,2,U,관광특구,1001492,1104,401,703,15,51,...,12,26,54,120,149,342,510,0,510,명동 남대문 북창동 다동 무교동 관광특구

In [218]:
# 모든 column 확인

list(df_live.columns)

['기준_년_코드',
 '기준_분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '총 상주인구 수',
 '남성 상주인구 수',
 '여성 상주인구 수',
 '연령대 10 상주인구 수',
 '연령대 20 상주인구 수',
 '연령대 30 상주인구 수',
 '연령대 40 상주인구 수',
 '연령대 50 상주인구 수',
 '연령대 60 이상 상주인구 수',
 '남성연령대 10 상주인구 수',
 '남성연령대 20 상주인구 수',
 '남성연령대 30 상주인구 수',
 '남성연령대 40 상주인구 수',
 '남성연령대 50 상주인구 수',
 '남성연령대 60 이상 상주인구 수',
 '여성연령대 10 상주인구 수',
 '여성연령대 20 상주인구 수',
 '여성연령대 30 상주인구 수',
 '여성연령대 40 상주인구 수',
 '여성연령대 50 상주인구 수',
 '여성연령대 60 이상 상주인구 수',
 '총 가구 수',
 '아파트 가구 수',
 '비 아파트 가구 수',
 '상권 코드 명']

In [219]:
# '명동거리'에 대해서만 추출

live_m = df_live[df_live['상권_코드'] == 1001203].reset_index(drop = True).drop('상권 코드 명', axis = 1)

live_m = live_m.drop([22, 23, 24])

In [220]:
# 결과 확인

live_m

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,...,남성연령대 60 이상 상주인구 수,여성연령대 10 상주인구 수,여성연령대 20 상주인구 수,여성연령대 30 상주인구 수,여성연령대 40 상주인구 수,여성연령대 50 상주인구 수,여성연령대 60 이상 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수
0,2020,2,D,발달상권,1001203,138,84,54,5,17,...,28,4,9,4,8,14,15,107,0,107
1,2020,1,D,발달상권,1001203,138,84,54,5,17,...,28,4,9,4,8,14,15,107,0,107
2,2019,4,D,발달상권,1001203,138,84,54,5,17,...,28,4,9,4,8,14,15,107,0,107
3,2019,3,D,발달상권,1001203,139,81,58,6,17,...,23,4,10,6,10,14,14,102,0,102
4,2019,2,D,발달상권,1001203,139,81,58,6,17,...,23,4,10,6,10,14,14,102,0,102
5,2019,1,D,발달상권,1001203,139,81,58,6,17,...,23,4,10,6,10,14,14,102,0,102
6,2018,4,D,발달상권,1001203,139,81,58,6,17,...,23,4,10,6,10,14,14,102,0,102
7,2018,3,D,발달상권,1001203,144,83,61,4,19,...,22,4,11,8,9,13,16,112,0,112
8,2018,2,D,발달상권,1001203,144,83,61,4,19,...,22,4,11,8,9,13,16,112,0,112
9,2018,1,D,발달상권,1001203,42,20,22,2,3,...,7,1,2,2,4,1,12,24,0,24
10,2017,4,D,발달상권,1001203,42,20,22,2,3,...,7,1,2,2,4,1,12,24,0,24
11,2017,3,D,발달상권,1001203,150,83,67,5,18,...,21,4,8,11,10,16,18,107,0,107
12,2017,2,D,발달상권,1001203,150,83,67,5,18,...,21,4,8,11,10,16,18,107,0,107
13,2017,1,D,발달상권,1001203,639,73,566,7,19,...,20,7,13,61,113,116,256,100,0,100
14,2016,4,D,발달상권,1001203,639,73,566,7,19,...,20,7,13,61,113,116,256,100,0,100
15,2016,3,D,발달상권,1001203,632,67,565,7,20,...,18,7,14,59,114,115,256,90,0,90
16,2016,2,D,발달상권,1001203,632,67,565,7,20,...,18,7,14,59,114,115,256,90,0,90
17,2016,1,D,발달상권,1001203,56,23,33,6,6,...,6,3,3,4,6,6,11,28,0,28
18,2015,4,D,발달상권,1001203,56,23,33,6,6,...,6,3,3,4,6,6,11,28,0,28
19,2015,3,D,발달상권,1001203,62,27,35,6,6,...,6,3,3,4,6,8,11,29,0,29
20,2015,2,D,발달상권,1001203,62,27,35,6,6,...,6,3,3,4,6,8,11,29,0,29
21,2015,1,D,발달상권,1001203,36,12,24,0,2,...,1,0,1,4,4,10,5,0,0,0

## 3. 추출한 데이터 통합

In [26]:
# 공통되는 column 찾기

fluid = set(fluid_m.columns)
facil = set(facil_m.columns)
work = set(work_m.columns)
live = set(live_m.columns)

r1 = set.intersection(fluid, facil)
r2 = set.intersection(r1, work)
r3 = set.intersection(r2, live)

print("{}\n{}\n{}\n".format(r1, r2, r3))

{'기준_분기_코드', '상권_코드_명', '상권_코드', '기준_년_코드'}
{'기준_분기_코드', '상권_코드_명', '상권_코드', '기준_년_코드'}
{'기준_분기_코드', '상권_코드', '기준_년_코드'}

In [27]:
# 데이터 merge

t1 = pd.merge(fluid_m, facil_m, how = 'left', on = list(r1))
t2 = pd.merge(t1, work_m, how = 'left', on = list(r2))
total = pd.merge(t2, live_m, how = 'left', on = list(r3))

In [28]:
# 결과 확인

total

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,...,남성연령대 60 이상 상주인구 수,여성연령대 10 상주인구 수,여성연령대 20 상주인구 수,여성연령대 30 상주인구 수,여성연령대 40 상주인구 수,여성연령대 50 상주인구 수,여성연령대 60 이상 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수
0,2020,2,D,발달상권,1001203,명동거리,960635,516158,444477,24004,...,28,4,9,4,8,14,15,107,0,107
1,2020,1,D,발달상권,1001203,명동거리,1054116,553390,500726,35613,...,28,4,9,4,8,14,15,107,0,107
2,2019,4,D,발달상권,1001203,명동거리,1420302,694182,726121,84607,...,28,4,9,4,8,14,15,107,0,107
3,2019,3,D,발달상권,1001203,명동거리,1394078,688204,705876,79426,...,23,4,10,6,10,14,14,102,0,102
4,2019,2,D,발달상권,1001203,명동거리,1336616,656533,680084,77816,...,23,4,10,6,10,14,14,102,0,102
5,2019,1,D,발달상권,1001203,명동거리,1321767,654913,666854,71040,...,23,4,10,6,10,14,14,102,0,102
6,2018,4,D,발달상권,1001203,명동거리,1455601,634596,821006,54241,...,23,4,10,6,10,14,14,102,0,102
7,2018,3,D,발달상권,1001203,명동거리,1746320,771521,974799,59774,...,22,4,11,8,9,13,16,112,0,112
8,2018,2,D,발달상권,1001203,명동거리,1717937,726075,991859,59291,...,22,4,11,8,9,13,16,112,0,112
9,2018,1,D,발달상권,1001203,명동거리,1639588,682068,957527,68106,...,7,1,2,2,4,1,12,24,0,24
10,2017,4,D,발달상권,1001203,명동거리,1929993,797017,1132974,82947,...,7,1,2,2,4,1,12,24,0,24
11,2017,3,D,발달상권,1001203,명동거리,2206846,960434,1246411,89841,...,21,4,8,11,10,16,18,107,0,107
12,2017,2,D,발달상권,1001203,명동거리,1938491,864299,1074194,84596,...,21,4,8,11,10,16,18,107,0,107
13,2017,1,D,발달상권,1001203,명동거리,1636435,737476,898965,79915,...,20,7,13,61,113,116,256,100,0,100
14,2016,4,D,발달상권,1001203,명동거리,1771570,917841,853728,61111,...,20,7,13,61,113,116,256,100,0,100
15,2016,3,D,발달상권,1001203,명동거리,2150758,1136615,1014139,62056,...,18,7,14,59,114,115,256,90,0,90
16,2016,2,D,발달상권,1001203,명동거리,1415398,736028,679370,30022,...,18,7,14,59,114,115,256,90,0,90
17,2016,1,D,발달상권,1001203,명동거리,1516381,802586,713794,32598,...,6,3,3,4,6,6,11,28,0,28
18,2015,4,D,발달상권,1001203,명동거리,2162820,1115166,1047658,70385,...,6,3,3,4,6,6,11,28,0,28
19,2015,3,D,발달상권,1001203,명동거리,2291703,1177333,1114373,61630,...,6,3,3,4,6,8,11,29,0,29
20,2015,2,D,발달상권,1001203,명동거리,3187411,1677322,1510089,69360,...,6,3,3,4,6,8,11,29,0,29
21,2015,1,D,발달상권,1001203,명동거리,3573720,1903290,1670431,82354,...,1,0,1,4,4,10,5,0,0,0

In [29]:
# 결측치 확인

total.isnull().sum().sum()

0

In [30]:
# 불필요한 column 제거
useless = [' 상권_구분_코드', ' 상권_구분_코드_명', '상권_구분_코드_명', '상권_구분_코드_x', '상권_구분_코드_명_x', '상권_구분_코드_명_y', 
           '상권_구분_코드_y']

total_new = total.drop(useless, axis = 1)

## 4. 데이터 정규화

In [155]:
# Min-Max 정규화 진행

from sklearn import preprocessing

for i in range(4,72):
    if total_new.columns[i] == '폐업_률':
        continue
    else:
        x = total_new[total_new.columns[i]].values # Return numpy array
        min_max_scaler = preprocessing.MinMaxScaler()
        x_scaled = min_max_scaler.fit_transform(pd.DataFrame(x))
        # 적용
        total_new[total_new.columns[i]] = pd.DataFrame(x_scaled)

In [156]:
# 결과 확인

total_new

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,...,남성연령대 60 이상 상주인구 수,여성연령대 10 상주인구 수,여성연령대 20 상주인구 수,여성연령대 30 상주인구 수,여성연령대 40 상주인구 수,여성연령대 50 상주인구 수,여성연령대 60 이상 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수
0,2020,2,1001203,명동거리,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.571429,0.615385,0.033898,0.036364,0.113043,0.039841,0.955357,0.0,0.955357
1,2020,1,1001203,명동거리,0.035774,0.026841,0.045882,0.176329,0.063965,0.008519,...,1.000000,0.571429,0.615385,0.033898,0.036364,0.113043,0.039841,0.955357,0.0,0.955357
2,2019,4,1001203,명동거리,0.175910,0.128340,0.229735,0.920501,0.247692,0.085244,...,1.000000,0.571429,0.615385,0.033898,0.036364,0.113043,0.039841,0.955357,0.0,0.955357
3,2019,3,1001203,명동거리,0.165874,0.124030,0.213221,0.841806,0.255250,0.091562,...,0.814815,0.571429,0.692308,0.067797,0.054545,0.113043,0.035857,0.910714,0.0,0.910714
4,2019,2,1001203,명동거리,0.143884,0.101198,0.192183,0.817352,0.213557,0.074129,...,0.814815,0.571429,0.692308,0.067797,0.054545,0.113043,0.035857,0.910714,0.0,0.910714
5,2019,1,1001203,명동거리,0.138201,0.100030,0.181391,0.714431,0.220002,0.068773,...,0.814815,0.571429,0.692308,0.067797,0.054545,0.113043,0.035857,0.910714,0.0,0.910714
6,2018,4,1001203,명동거리,0.189418,0.085383,0.307131,0.459271,0.571888,0.116418,...,0.814815,0.571429,0.692308,0.067797,0.054545,0.113043,0.035857,0.910714,0.0,0.910714
7,2018,3,1001203,명동거리,0.300673,0.184094,0.432579,0.543312,0.790403,0.222734,...,0.777778,0.571429,0.769231,0.101695,0.045455,0.104348,0.043825,1.000000,0.0,1.000000
8,2018,2,1001203,명동거리,0.289811,0.151332,0.446495,0.535975,0.756058,0.228365,...,0.777778,0.571429,0.769231,0.101695,0.045455,0.104348,0.043825,1.000000,0.0,1.000000
9,2018,1,1001203,명동거리,0.259828,0.119606,0.418490,0.669866,0.738221,0.194539,...,0.222222,0.142857,0.076923,0.000000,0.000000,0.000000,0.027888,0.214286,0.0,0.214286
10,2017,4,1001203,명동거리,0.370963,0.202475,0.561601,0.895287,0.954886,0.293274,...,0.222222,0.142857,0.076923,0.000000,0.000000,0.000000,0.027888,0.214286,0.0,0.214286
11,2017,3,1001203,명동거리,0.476912,0.320284,0.654131,1.000000,1.000000,0.426335,...,0.740741,0.571429,0.538462,0.152542,0.054545,0.130435,0.051793,0.955357,0.0,0.955357
12,2017,2,1001203,명동거리,0.374215,0.250979,0.513655,0.920334,0.805219,0.329573,...,0.740741,0.571429,0.538462,0.152542,0.054545,0.130435,0.051793,0.955357,0.0,0.955357
13,2017,1,1001203,명동거리,0.258622,0.159551,0.370722,0.849234,0.697291,0.215543,...,0.703704,1.000000,0.923077,1.000000,0.990909,1.000000,1.000000,0.892857,0.0,0.892857
14,2016,4,1001203,명동거리,0.310336,0.289578,0.333822,0.563619,0.283661,0.237465,...,0.703704,1.000000,0.923077,1.000000,0.990909,1.000000,1.000000,0.892857,0.0,0.892857
15,2016,3,1001203,명동거리,0.455447,0.447295,0.464668,0.577973,0.390493,0.371796,...,0.629630,1.000000,1.000000,0.966102,1.000000,0.991304,1.000000,0.803571,0.0,0.803571
16,2016,2,1001203,명동거리,0.174033,0.158507,0.191600,0.091408,0.139840,0.146895,...,0.629630,1.000000,1.000000,0.966102,1.000000,0.991304,1.000000,0.803571,0.0,0.803571
17,2016,1,1001203,명동거리,0.212678,0.206489,0.219680,0.130535,0.171184,0.178095,...,0.185185,0.428571,0.153846,0.033898,0.018182,0.043478,0.023904,0.250000,0.0,0.250000
18,2015,4,1001203,명동거리,0.460063,0.431832,0.492009,0.704482,0.471192,0.398614,...,0.185185,0.428571,0.153846,0.033898,0.018182,0.043478,0.023904,0.250000,0.0,0.250000
19,2015,3,1001203,명동거리,0.509386,0.476649,0.546428,0.571502,0.543300,0.457719,...,0.185185,0.428571,0.153846,0.033898,0.018182,0.060870,0.023904,0.258929,0.0,0.258929
20,2015,2,1001203,명동거리,0.852164,0.837097,0.869210,0.688914,0.833353,0.858768,...,0.185185,0.428571,0.153846,0.033898,0.018182,0.060870,0.023904,0.258929,0.0,0.258929
21,2015,1,1001203,명동거리,1.000000,1.000000,1.000000,0.886280,0.992252,1.000000,...,0.000000,0.000000,0.000000,0.033898,0.000000,0.078261,0.000000,0.000000,0.0,0.000000

In [158]:
# 결과 저장

# total_new.to_csv('./myungdong_all_after.csv', encoding = 'cp949')